.enter_words_a{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
.title_a{
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #2A324B;
    margin-right: auto;
    margin-left: auto;
}
.line_title_a{
    width: 217px;
    background: #2A324B;
    height: 0.5px;
    margin: 3px auto 35px;
}
.enter_text_a{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.05em;
    width: 861px;
    color: #343D5B;
}
.why{
    display: flex;
    flex-direction: column;
    background-color: #E1E5EE;
    max-width: 1200px;
    padding: 100px;
    margin: 150px auto 75px;
}
.line_title_a2{
    width: 275px;
    background: #2A324B;
    height: 0.5px;
    margin: 3px auto 35px;
}
.points{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.point1{
    display: flex;
    flex-direction: column;
    max-width: 220px;
    align-items: center;
}
.icon_p img{
    width: 140px;
    height: 147px;
    padding: 10px;
}
#point4{
    margin-top: 12px;
}
.title_p1{
    margin-top: 20px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #1E2334;

}
.text_p1{
    margin-top: 40px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #343D5B;

}
.text_p2{
    margin-top: 25px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #343D5B;
}
.top_review{
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-width: 1200px;
    margin: 100px auto 200px;
}

.text_title_r{
    display: flex;
    margin-top: 70px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.05em;
    color: #2A324B;
    margin-left: auto;
    margin-right: auto;

}
.line_3_bl{
    display:flex;
    margin-top: -17px;
}
.line_title_3{
    background: #2A324B;
    height: 0.5px;
    width: 219px;
}
.reviews{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    margin-top: 50px;

}
.rev{
    display: flex;
    flex-direction: column;
    max-width: 346px;
    border: 2px solid #C7CCDB;


}
.rev_user_inf{
    display: flex;
    flex-direction: column;
    margin-top: 22px;

}
.user_icon{
    width: 63px;
    height: 63px;
    margin-top: 22px;
    margin-left: 22px;
}
.user_name{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    margin-top: 10px;
    color: #2A324B;
    margin-left: 18px;
}
.rev_date{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #2A324B;
    margin-left: 30px;
    margin-top: 5px;
}
.rev_u{
    display: flex;
    flex-direction: row;

}
.rev_text{
    margin-left: 22px;
    margin-top: 22px;
    margin-right: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #2A324B;
    margin-bottom: 22px;

}

.review-slider{
    min-width: 0;
    max-width: 1200px;
    position: relative;
    padding:  0 60px;
    display: flex;
    align-items: center;
}
.rev-item {
    min-width: 0;
}


.rev-item.slick-center{
    opacity: 1;
    z-index: 30;
    text-align: center;
}
.review-slider .slick-track{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-list{
    overflow: hidden;
}
.review-slider .slick-arrow{
    position: absolute;
    z-index: 10;
    font-size: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
}

.review-slider .slick-arrow.slick-prev{
    left: 0;
    border: none;
    outline: none;
    background: url("../icons/arrow-l.svg") 0 0 / 100% no-repeat;
}
.review-slider .slick-arrow button{
    outline: none;
}
.review-slider .slick-arrow button:focus{
    outline: none;
}
.review-slider .slick-arrow.slick-next{
    right: 0;
    border: none;
    outline: none;
    background: url("../icons/arrow-r.svg") 0 0 / 100% no-repeat;
}
.review-slider .slick-arrow.slick-disabled{
    opacity: 0.2;
    border: none;
    outline: none;
}
.team{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.line_title_a3{
    width: 291px;
    background: #2A324B;
    height: 0.5px;
    margin: 3px auto 35px;
}
.mem_photo{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 100px;
}

#al-c {
    display: table;
    width: 301px;
    height: 289px;
}

.container {
    padding-right:5px;
    padding-left:5px;
    margin-right:auto;
    margin-left:auto;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.effects {
    list-style:none;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 0;
}

.effects li {
    position: relative;
    display: inline-block;
    box-shadow: 1px 3px 1px 0 rgba(0, 0, 0, 0.08);
    border:1px solid #cfcfcf;
    background-color: #fff;
    margin: 0;
    border: 5px solid #fff;
    overflow: hidden;
    font-family: Raleway;
    font-size: 16px;
    width: 301px;
    height: 289px;

}

@media (max-width:350px) {
    .effects li {
        font-size: 10px;
    }

}

.effects li img {
    display: block;
    position: relative;
    width: 301px;
    height: 289px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.effects li > div {
    width: 100%;
    height: 100%;
    position: absolute;
}

.effects li:hover > div {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.effects li div {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.15);
    transition: all 0.4s ease-in-out;
    color: #fff;
    transform: translate(0px, 90px) rotate(0deg);

}

.effects li:hover div {
    opacity: 1;
    transform: translate(0px, 0px) rotate(0deg);

}
.join{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    width: 285px;
    height: 62px;
    left: 457px;
    top: 1145px;
    background: rgba(239, 142, 67, 0.75);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 80px auto 140px;
    cursor: pointer;
}
.join:hover{
    transition: all .5s;
    transform: scale(1.1);
}
.enter_bttn {
    background: rgba(239, 142, 67, 0.75);
    border: none;
    font-size: 20px;
    font-family: Montserrat;
    color: #FFFFFF;
    cursor: pointer;
    width: 285px;
    height: 62px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 56px;
    justify-content: center;
    align-items: center;
}
.enter_bttn:hover{
    transition: all .5s;
    transform: scale(1.1);
}
#close_img {
    display: block;
    width: 25px;
    margin-top: 15px;
    margin-left: 15px;
    cursor: pointer;
}

#gray {
    opacity: 0.8;
    padding: 15px;
    background-color: rgba(1, 1, 1, 0.75);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 100;
    overflow: auto;
}
#coment {
    z-index: 150;
    display: none;
    width: 600px;
    height: 500px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 160px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
.rev_block{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.title_rev{
    font-family: Raleway;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #2A324B;
    display: flex;
}
.line_title_rev{
    width: 500px;
    background: #2A324B;
    height: 0.2px;
    margin: 4px auto 15px;
}
.fields_r{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.field1{
    width: 220px;
    height: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #EF8E43;
    padding-left: 5px;
}
.f1{
    display: flex;
    flex-direction: column;

}
.text_f{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.05em;
    padding-bottom: 10px;
    color: #343D5B;
    padding-top: 15px;
}
.field2{
    width: 500px;
    height: 75px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #343D5B;
    padding-left: 5px;
}
textarea {
    width: 500px;
    height: 150px;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 16px;
    resize: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.05em;
    color: #343D5B;
}
.publish{
    width: 150px;
    height: 55px;
    border: none;
    background: #EF8E43;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    cursor: pointer;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 25px;
}
.exit{
    width: 150px;
    height: 55px;
    border: 1.5px solid #343D5B;
    background: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #343D5B;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

@media screen and (min-width: 990px) and (max-width: 1200px){
    .enter_words_a{
        margin-top: 70px;
    }
    .title_a{
        font-size: 26px;
    }
    .line_title_a{
        margin: 3px auto 20px;
        width: 180px;
    }
    .enter_text_a{

        font-size: 20px;
        width: 600px;
    }
    .why{
        max-width: 900px;
        padding-top: 80px;
        padding-left: 60px;
        padding-right: 60px;
        margin: 100px auto 75px;
    }
    .text_p1 {
        margin-top: 33px;
        font-size: 14px;
    }
    .icon_p img {
        width: 130px;
        height: 127px;
        padding: 10px;
    }
    #point4{
        margin-top: 10px;
    }
    .title_p1 {
        margin-top: 20px;
        font-size: 16px;
    }
    .text_p2{
        margin-top: 20px;
        font-size: 14px;
    }
    .point1 {
        max-width: 200px;
        align-items: center;
    }
    .points {
    max-width: 900px;
    }
    #al-c {
        width: 250px;
        height: 229px;
    }
    .effects li {
        width: 250px;
        height: 229px;

    }
    .join{
        margin-top: 45px;
        font-size: 18px;
        width: 245px;
        height: 52px;
        margin-bottom: 75px;
    }
    .user_icon {
        width: 53px;
        height: 53px;
    }
    .user_name {
        text-align: left;
    }
    .rev_date {
        text-align: left;
        margin-left: 15px;
    }
    .review-slider .slick-arrow {
        width: 45px;
        height: 45px;
    }
    .review-slider .slick-arrow.slick-prev {
        margin-left: 10px;
    }
    .review-slider .slick-arrow {
        margin-right: 10px;
    }
    .review-slider{
        max-width: 990px;
    }
    .rev {
        max-width: 280px;
    }
    .top_review{
        margin: 80px auto 60px;
    }
    .reviews{
        margin-top: 30px;
    }
    .enter_bttn{
        margin-top: 45px;
        font-size: 18px;
        width: 245px;
        height: 52px;
        margin-bottom: 55px;
    }
}
