*{
    margin: 0;
    padding: 0;
}
.content{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title{
    margin: 0 auto;
    flex: 1;
    text-align: center;
    margin-top: 75px;
}
.title_text{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #2A324B;
}
.title_line{
    border: none; /* Убираем границу */
    background-color: #2A324B; /* Цвет линии */
    color: #2A324B; /* Цвет линии для IE6-7 */
    height: 1px;
    width: 217px;
    justify-content: center;
    margin-top: 5px;
}
.line{
    display: inline-block;
}
.first_col_1_text_1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #1E2334;
}
.first_col_1_text_2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #1E2334;
}
.first_col_1_text_3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #2A324B;
}
.phone_icon{
    width: 35px;
    height: 35px;
}
.fct1{
    margin-top: 74px;
}
.fct2{
    margin-bottom: 19px;
}
.fct2_1{
    margin-top: 64px;
}
.fct3{
    margin-bottom: 10px;
}
.first_col_2{
    background: rgba(247, 198, 161, 0.7);
    margin-top: 190px;
    margin-bottom: 100px;
}
.first_col_2_cont{
    width: 100%;
    margin: 0 auto;
    max-width: 740px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding-bottom: 40px;
}
.fc2_title{
    margin: 0 auto;
    flex: 1;
    text-align: center;
    margin-top: 60px;
}
.fc2_title_text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #2A324B;
}
.fc2_title_line{
    border: none;
    background-color: #2A324B;
    color: #2A324B;
    height: 1px;
    width: 367px;
    margin-top: 5px;
}
.first_col_2_text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #2A324B;
    margin-top: 34px;
    text-align: left;
}
.first_col_2_bot{
    margin-top: 25px;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: center;*/
}
.first_col_2_text_2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #2A324B;
    /*flex: 1;*/
}
.map{
    width: 385px;
    height: 364px;
}
.second_col_1{
    width: 294px;
    /*position: sticky;*/
    /*top: 15px;*/
}
.second_col_1_cont{
    background: #F2F4F8;
    box-shadow: 0px 4px 4px rgba(239, 142, 67, 0.75);
    text-align: right;
    /*position: sticky;*/
    /*top: 15px;*/
}

.ask_button{
    background: rgba(239, 142, 67, 0.75);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    border: none;
    width: 201px;
    height: 50px;
    margin-top: 25px;
}
.second_col_1_text_1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #1E2334;
    /*margin-top: 39px;*/
}
.second_col_1_text_2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #1E2334;
    margin-top: 24px;
}
.second_block1{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.fct_phone{
    /*vertical-align: 10px;*/
}
.second_row{
    margin-top: 45px;
    /*position: sticky;*/
    /*top: 15px;*/
}
@media (min-width: 901px) {
    .fct2{
        margin-right: 30px;
    }
    .columns{
        flex: 7;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .first_row{
        flex: 2.8;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .first_col_1{
        flex: 1;
    }
    .first_col_2{
        flex: 1;
    }
    .second_row{
        flex: 1;
        /*display: flex;*/
        /*flex-direction: column;*/
        justify-content: center;
        margin-left: 30px;
        text-align: center;

    }
    .block{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 60px;
    }
    .block1{
        flex: 1;
    }
    .block2{
        flex: 1;
    }
    .map{
        flex: 1;
    }
    .second_col_1{
        flex: 1;
    }
    .second_col_2{
        flex: 1;
    }
    .second_row{
        flex: 1.1;
        position: sticky;
        top: 15px;
    }
    .sticky{
        position: sticky;
        top: 15px;
        margin-bottom: 332px;
    }
    .small{
        display: none !important;
    }
}
.second_col_2{
    position: relative;
    margin-top: 170px;
    margin-bottom: 90px;
}
.sc2_title{
    position: absolute;
    width: 288px;
    height: 48px;
    left: 11px;
    top: calc(50% - 48px/2 - 57.5px);
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #1E2334;
}
#inst_icon{
    /*position: absolute;*/
    width: 43px;
    height: 43px;
    cursor: pointer;
}
#fb_icon{
    /*position: absolute;*/
    width: 43px;
    height: 43px;
    cursor: pointer;
}
#telegram_icon{
    /*position: absolute;*/
    width: 43px;
    height: 43px;
    cursor: pointer;
}

.bord_{
    position: absolute;
    width: 250px;
    height: 20.89px;
    left: 22.85px;
    top: calc(50% - 20.89px/2 - 58.05px);
    background: #FFFFFF;
}
.bord{
    z-index: -3;
    position: absolute;
    width: 295px;
    height: 119.01px;
     /*left: 0px;*/
    top: calc(50% - 119.01px/2 + 1px);
    border: 1px solid #2E4052;
    box-sizing: border-box;
}
.sc2_icons{
    position: absolute;
    margin-top: -16px;
    /*padding-top: 14px;*/
    margin-left: 83px;
}
@media (max-width: 1210px) {
    .columns{
        padding-left: 20px;
        padding-right: 20px;
    }
    .first_col_2{
        padding-right: 40px;
    }
    .first_col_2_cont{
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media (max-width: 1150px) {
    .map{
        width: 334px;
        height: 316px;
        margin-right: 15px;
    }
    .first_col_2_text{
        margin-left: 10px;
    }
    .first_col_2_bot{
        margin-left: 10px;
    }
}
@media (max-width: 1100px) {
    .title_text{
        font-size: 25px;
        line-height: 29px;
    }
    .title_line{
        width: 164px;
    }
    .first_col_1_text_1{
        font-size: 22px;
        line-height: 27px;
    }
    .second_col_1_text_1{
        font-size: 22px;
        line-height: 27px;
    }
    .first_col_1_text_2{
        font-size: 22px;
        line-height: 27px;
    }
    .first_col_1_text_3{
        font-size: 18px;
        line-height: 22px;
    }
    .ask_button{
        font-size: 18px;
        line-height: 22px;
    }
    .sc2_title{
        font-size: 18px;
        line-height: 22px;
    }
    .fc2_title_text{
        font-size: 18px;
        line-height: 22px;
    }
    .fc2_title_line{
        width: 343px;
    }
    .first_col_2_text{
        font-size: 18px;
        line-height: 22px;
    }
    .second_col_2_text_2{
        font-size: 18px;
        line-height: 22px;
    }

}
@media (max-width: 1150px) {
    .first_col_1_text_2{
        font-size: 20px;
        line-height: 24px;
    }
}
@media (max-width: 1000px){
    .map{
        width: 296px;
        height: 280px;
    }
}
@media (max-width: 900px) {
    .first_col_2{
        padding-right: 10px;
    }
    .big{
        display: none !important;
    }
    .first_col_1_text_1{
        margin-top: 33px;
    }
    .block{
        margin-top: 31px;
    }
    .title_text{
        font-size: 24px;
        line-height: 28px;
    }
    .title_line{
        width: 133px;
    }
    .first_col_1_text_1{
        font-size: 20px;
        line-height: 24px;
    }
    .first_col_1_text_2{
        font-size: 18px;
        line-height: 22px;
    }
    .first_col_1_text_3{
        font-size: 16px;
        line-height: 20px;
    }
    .second_col_1_cont{
        width: 266px;
        height: 198px;
    }
    .second_col_1_text_1{
        font-size: 18px;
        line-height: 22px;
    }
    .second_col_1_text_2{
        font-size: 16px;
        line-height: 20px;
    }
    .ask_button{
        width: 135px;
        height: 32px;
        font-size: 14px;
        line-height: 17px;
    }
    .sc2_title{
        font-size: 20px;
        line-height: 24px;
        margin-left: -10px;
    }
    .bord{
        width: 280px;
        height: 149px;
    }
    .bord_{
        top: calc(50% - 48px/2 - 64.5px);
        margin-left: -8px;
    }
    .fc2_title{
        margin-top: 49px;
    }
    .fc2_title_text{
        font-size: 20px;
        line-height: 24px;
    }
    .fc2_title_line{
        width: 306px;
    }
    .first_col_2_text{
        font-size: 19px;
        line-height: 23px;
    }
    .first_col_2_text_2{
        font-size: 20px;
        line-height: 24px;
    }
    .map{
        width: 242px;
        height: 229px;
    }
    .second_col_2 {
        margin-top: 50px;
        margin-right: 10px;
        /*margin-left: auto;*/
        max-width: 280px;
        min-width: 280px;
        align-items: end;

    }
    .sc2_icons{
        margin-top: 0px;
        margin-left: 75px;
    }
    .sticky{
        margin-left: 42px;
        margin-right: 42px;
    }
    .first_col_2{
        margin-top: 80px;
    }
    .ssss{
        align-items: end;
        /*padding-right: 42px;*/
    }
    .title{
        margin-top: 47px;
    }
    /*.second_row{*/
    /*    padding-right: 42px;*/
    /*}*/
}
@media (max-width: 815px) {
    .first_col_2 {
        padding-right: 30px;
    }
}
@media (min-width: 700px) and (max-width: 900px) {
    .sticky{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .second_col_1{
        flex: 1.1;
    }
    .second_col_2{
        flex: 1;
        /*display: flex;*/
        /*flex-direction: row;*/
        /*justify-content: space-between;*/
        /*align-items: center;*/
    }
}
@media (max-width: 699px) {
    .sticky{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .second_col_1{
        flex: 1;
        padding-left: 9px;
    }
    .second_col_2{
        flex: 1;
        padding-top: 0px;
        margin-top: 120px;
    }
    .first_col_2{
        margin-top: 50px;
        margin-bottom: 70px;
    }
}
@media (max-width: 600px) {
    .title_text{
        font-size: 20px;
        line-height: 23px;
    }
    .title_line{
        width: 111px;
    }
    .first_col_1_text_1{
        font-size: 18px;
        line-height: 22px;
    }
    .first_col_1_text_2{
        font-size: 16px;
        line-height: 20px;
    }
    .first_col_1_text_3{
        font-size: 14px;
        line-height: 17px;
    }
    .phone_icon{
        width: 20px;
        height: 20px;
    }
    .fc2_title_text{
        font-size: 18px;
        line-height: 22px;
    }
    .fc2_title_line{
        width: 255px;
    }
    .first_col_2_text{
        font-size: 16px;
        line-height: 20px;
    }
    .first_col_2_text_2{
        font-size: 16px;
        line-height: 20px;
    }
    .map{
        width: 197px;
        height: 186px;
    }
    .second_col_1_cont{
        width: 228px;
        height: 190px;
        margin-left: 22px;
    }
    .second_col_1_text_1{
        font-size: 16px;
        line-height: 20px;
    }
    .second_col_1_text_2{
        font-size: 14px;
        line-height: 17px;
    }
    .ask_button{
        font-size: 12px;
        line-height: 15px;
        width: 123px;
        height: 29px;
    }
    .second_block1{
        margin-right: 0px;
    }
    .sc2_title{
        font-size: 18px;
        line-height: 22px;
    }
    #inst_icon{
        width: 38px;
        height: 38px;
    }
    #fb_icon{
        width: 38px;
        height: 38px;
    }
    #telegram_icon{
        width: 38px;
        height: 38px;
    }
    .sc2_icons{
        margin-left: 81px;
    }
    .first_col_2{
        margin-top: 50px;
        margin-bottom: 70px;
    }
}
@media (min-width: 500px) {
    .first_row{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .block{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .block1{
        flex: 1;
    }
    .block2{
        flex: 1;
    }
}

@media (max-width: 500px) {
    .fct2_1{
        margin-top: 20px;
    }
    .fct2_2{
        margin-top: 20px;
    }
    .first_col_1_text_2{
        margin-bottom: 12px;
    }
}
@media (min-width: 441px) {
    .first_col_2_bot{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .first_col_2_text_2{
        flex: 1;
    }
    .first_col_2_map{

    }
}
@media (max-width: 440px) {
    .title_text {
        font-size: 17px;
        line-height: 20px;
    }
    .title_line {
        width: 102px;
    }
    .first_col_1_text_1 {
        font-size: 16px;
        line-height: 20px;
    }
    .first_col_1_text_2 {
        font-size: 14px;
        line-height: 17px;
    }
    .first_col_1_text_3 {
        font-size: 12px;
        line-height: 15px;
    }
    .phone_icon {
        width: 15px;
        height: 15px;
    }
    .fc2_title_text {
        font-size: 16px;
        line-height: 20px;
    }
    .fc2_title_line {
        width: 246px;
    }
    .first_col_2_text {
        font-size: 14px;
        line-height: 17px;
    }
    .first_col_2_text_2 {
        font-size: 14px;
        line-height: 17px;
    }
    .first_col_2_map {
        text-align: center;
        align-items: center;
    }
    .map {
        margin-top: 20px;
        width: 320px;
        height: 220px;
    }
    .second_col_1_cont {
        width: 181px;
        height: 143px;
        margin-left: 22px;
    }
    .second_col_1_text_1 {
        font-size: 14px;
        line-height: 17px;
    }
    .second_col_1_text_2 {
        font-size: 12px;
        line-height: 15px;
        margin-top: 10px;
    }
    .ask_button {
        font-size: 11px;
        line-height: 13px;
        width: 126px;
        height: 30px;
        margin-top: 10px;
    }
    .second_block1 {
        margin-right: 0px;
    }
    .sc2_title {
        font-size: 16px;
        line-height: 20px;
        margin-left: -8px;
    }
    .sc2_icons{
        margin-left: 90px;
        margin-top: -22px;
    }
    #inst_icon {
        width: 34px;
        height: 34px;
    }
    #fb_icon {
        width: 34px;
        height: 34px;
    }
    #telegram_icon {
        width: 34px;
        height: 34px;
    }
    .first_col_2 {
        margin-top: 30px;
        margin-bottom: 70px;
    }
    .bord{
        width: 220px;
        height: 106px;
        margin-left: 35px;
     }
    .bord_ {
        top: calc(50% - 30px / 2 - 50.5px);
        width: 170px;
        margin-left: 2px;
    }
    .second_col_1{
        width: 181px;
        margin-left: -60px;
    }
    .second_row{
        margin-top: 25px;
    }

}
@media (max-width: 435px) {
    .map{
        width: 280px;
        height: 204.19px;
    }
}
@media (max-width: 380px) {
    .title{
        margin-top: 33px;
    }
    .title_text{
        font-size: 14px;
        line-height: 16px;
    }
    .title_line{
        width: 88px;
    }
    .first_col_1_text_1{
        font-size: 13px;
        line-height: 16px;
    }
    .first_col_1_text_2{
        font-size: 12px;
        line-height: 15px;
    }
    .first_col_1_text_3{
        font-size: 10px;
        line-height: 12px;
    }
    .phone_icon{
        width: 10px;
        height: 10px;
    }
    .fc2_title_text{
        font-size: 14px;
        line-height: 17px;
    }
    .fc2_title_line{
        width: 200px;
    }
    .first_col_2_text{
        font-size: 12px;
        line-height: 15px;
    }
    .first_col_2_text_2{
        font-size: 12px;
        line-height: 15px;
    }
    .map{
        width: 224px;
        height: 160px;
    }
    .second_col_1_cont{
        width: 150px;
        height: 120px;
        margin-left: 22px;
    }
    .second_col_1_text_1{
        font-size: 12px;
        line-height: 15px;
    }
    .second_col_1_text_2{
        font-size: 10px;
        line-height: 12px;
    }
    .ask_button{
        font-size: 10px;
        line-height: 12px;
        width: 90px;
        height: 21px;
    }
    .second_block1{
        margin-right: 0px;
    }
    .sc2_title{
        font-size: 12px;
        line-height: 15px;
        margin-left: -22px;
        margin-top: 6px;
    }
    #inst_icon{
        width: 30px;
        height: 30px;
    }
    #fb_icon{
        width: 30px;
        height: 30px;
    }
    #telegram_icon{
        width: 30px;
        height: 30px;
    }
    .sc2_icons{
        margin-left: 81px;
    }
    .first_col_2{
        margin-top: 50px;
        margin-bottom: 70px;
    }
    .bord{
        width: 192px;
        height: 91px;
    }
    .bord_ {
        top: calc(50% - 30px/2 - 40.5px);
        width: 140px;
        margin-left: 2px;
    }
    .first_col_1_text_1 {
        margin-top: 15px;
    }
    .block {
        margin-top: 15px;
    }
    .ffct2 {
        margin-bottom: 0px;
    }
    .fct2_1{
        margin-bottom: 8px;
    }
    .fct2_2{
        margin-bottom: 8px;
    }
    .fct3 {
        margin-bottom: 4px;
    }
    .second_block1 {
        padding-top: 18px;
    }
    .second_col_2 {
        margin-bottom: 40px;
    }
    .fc2_title {
        margin-top: 23px;
    }
    .first_col_2_text{
        margin-top: 10px;
    }
    .first_col_2_bot {
        margin-top: 20px;
    }
    .bord{
        margin-left: 35px;
    }
    .second_col_1 {
        margin-left: -37px;
    }
    .second_col_2 {
        margin-left: 23px;
    }
}
.del{
    display: none !important;
}

