/*стилі для лендінга*/
.body{
    min-width: 320px;
}
.content_main{
    margin-top: 62px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    margin-right: auto;
    margin-left: auto;
    min-height: 650px;
}
.index{
    z-index: -5;
}
.last_news{
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}
.del_cl{
    display: none !important;
}
.news-slider .slick-track{
    display: flex;
    min-width: 0;
    align-items: center;
    transition: all .5s;

}
.news-slider .slick-list{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    overflow: hidden;
}
.news-slider .slick-dots{
    display: flex;
    top: 30px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
}
.news-slider .slick-dots li{
    list-style: none;
    margin: 20px 10px;
}
.news-slider .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #C7CCDB;
    border: none;
}
.news-slider .slick-dots li.slick-active button{
    background-color: #2d3748;
}
.slider_item{
    text-align: center;
    opacity: 0.4;
    transition: all .5s;
}
.slider_item.slick-center{
    opacity: 1;
    z-index: 1;
    transition: all .5s;

}
.slider_item.slick-center img{
    transition: all .5s;
    width: 893px;
    height: 396px;
}
.slider_item img{
    height: 305px
}
.title_land{
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #2A324B;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
.line_title{
    width: 355px;
    background: #2A324B;
    height: 0.5px;
    margin: 3px auto 55px;
}

/*для слайдера новин*/


.news-slider .slick-dots{
    display: flex;
    top: 30px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}
.news-slider .slick-dots li{
    list-style: none;
    margin: 20px 10px;
}
.news-slider .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #C7CCDB;
    border: none;
}
.news-slider .slick-dots li.slick-active button{
    background-color: #2d3748;
}
.slider_item{
    text-align: center;
    opacity: 0.4;
    transition: all .5s;
}
.slider_item.slick-center {
    opacity: 1;
    z-index: 1;
    transition: all .5s;
}

@media screen and (min-width: 320px) and (max-width: 600px){
    .content_main{
        max-height: 300px;
        min-height: 200px;
    }
    .title_land {
        font-size: 14px;
        margin-top: -30px;
    }
    .last_news {
        margin-bottom: -25px;
    }
    .line_title {
        width: 144px;
        background: #2A324B;
        height: 0.2px;
        margin: -8px auto 55px;
    }
    .news-slider .slick-list{
        max-width: 333px;
    }
    .slider_item img{
        height: 148px;
    }
    .slider_item.slick-center img{
        transition: all .5s;
        width: 333px;
        height: 148px;
    }
    .news-slider .slick-dots{
        margin-top: -3px;
        top: 0;
    }
    .news-slider .slick-dots button{
        width: 5px;
        height: 5px;
    }
}
@media screen and (min-width: 601px) and (max-width: 768px){
    .content_main{
        max-height: 250px;
        min-height: 200px;
    }
    .title_land {
        font-size: 18px;
        margin-top: -20px;
    }
    .last_news {
        margin-bottom: -25px;
    }
    .line_title {
        width: 190px;
        background: #2A324B;
        height: 0.4px;
        margin: -5px auto 55px;
    }
    .news-slider .slick-list{
        max-width: 500px;
    }
    .slider_item img{
        height: 148px;
    }
    .slider_item.slick-center img{
        transition: all .5s;
        width: 400px;
        height: 180px;
    }
    .news-slider .slick-dots{
        margin-top: -3px;
        top: 0;
    }
    .news-slider .slick-dots button{
        width: 5px;
        height: 5px;
    }
    .land_portfolio{
        margin-top: -20px;
        position: relative;
    }
}
@media screen and (min-width: 769px) and (max-width: 989px){
    .content_main{
        max-height: 300px;
        min-height: 200px;
    }
    .title_land {
        font-size: 24px;
        margin-top: -20px;
    }
    .last_news {
        margin-bottom: -25px;
    }
    .line_title {
        width: 252px;
        background: #2A324B;
        height: 0.4px;
        margin: -5px auto 55px;
    }
    .news-slider .slick-list{
        max-width: 600px;
    }
    .slider_item img{
        height: 190px;
    }
    .slider_item.slick-center img{
        transition: all .5s;
        width: 520px;
        height: 231px;
    }
    .news-slider .slick-dots{
        margin-top: -3px;
        top: 0;
    }
    .news-slider .slick-dots button{
        width: 5px;
        height: 5px;
    }
    .land_portfolio{
        margin-top: -20px;
        position: relative;
    }
}
@media screen and (min-width: 989px) and (max-width: 1200px){
    .content_main{
        max-height: 320px;
        min-height: 200px;
    }
    .title_land {
        font-size: 26px;
        margin-top: -20px;
    }
    .last_news {
        margin-bottom: -25px;
    }
    .line_title {
        width: 272px;
        background: #2A324B;
        height: 0.4px;
        margin: -5px auto 55px;
    }
    .news-slider .slick-list{
        max-width: 800px;
    }
    .slider_item img{
        height: 250px;
    }
    .slider_item.slick-center img{
        transition: all .5s;
        width: 600px;
        height: 300px;
    }
    .news-slider .slick-dots{
        margin-top: -3px;
        top: 0;
    }
    .news-slider .slick-dots button{
        width: 5px;
        height: 5px;
    }
    .land_portfolio{
        margin-top: -20px;
        position: relative;
    }
}
.land_portfolio{
    background-color: #343D5B;
    display: flex;
    padding-top: 100px;
    max-height: 886px;
    min-height: 276px;
    flex-direction: column;
    margin: 100px auto;
    position: relative;
}
.title_land_port{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    max-width: 1200px;
}
.text_title_p{
    display: flex;
    margin-top: 70px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;

}
.line_2_bl{
    display:flex;
    margin-top: -17px;
}
.line_title_2{
    background: #FFFFFF;
    height: 0.5px;
    width: 219px;
}

.photo_line{
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    max-width: 1200px;
}
.photo_line img{
    border: 0.5px solid white;
    margin-left: 10px;
    margin-right: 10px;
}

.more_bttn{
    display: flex;
    margin: 60px auto 190px;
    width: 337px;
    height: 66px;
    background-color: #FFFFFF;
    cursor: pointer;
}
#more_bttn{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 22px;
    color: #2A324B;
    margin: auto;
    text-decoration: none;
}
.expand-left-right:hover{
    transition: all .5s;
    transform: scale(1.1);
}
.top_review{
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-width: 1200px;
    margin: 100px auto 200px;
}

.text_title_r{
    display: flex;
    margin-top: 70px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.05em;
    color: #2A324B;
    margin-left: auto;
    margin-right: auto;

}
.line_3_bl{
    display:flex;
    margin-top: -17px;
}
.line_title_3{
    background: #2A324B;
    height: 0.5px;
    width: 219px;
}
.reviews{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    margin-top: 50px;

}
.rev{
    display: flex;
    flex-direction: column;
    max-width: 346px;
    border: 2px solid #C7CCDB;
    height: 277px;
    overflow: hidden;

}
.rev_user_inf{
    display: flex;
    flex-direction: column;
    margin-top: 22px;

}
.user_icon{
    width: 63px;
    height: 63px;
    margin-top: 22px;
    margin-left: 22px;
}
.user_name{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    margin-top: 10px;
    color: #2A324B;
    margin-left: 18px;
}
.rev_date{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #2A324B;
    margin-left: 30px;
    margin-top: 5px;
}
.rev_u{
    display: flex;
    flex-direction: row;

}
.rev_text{
    margin-left: 22px;
    margin-top: 22px;
    margin-right: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #2A324B;
    margin-bottom: 22px;

}

.review-slider{
    min-width: 0;
    max-width: 1200px;
    position: relative;
    padding:  0 60px;
    display: flex;
    align-items: center;
}
.rev-item {
    min-width: 0;
}


.rev-item.slick-center{
    opacity: 1;
    z-index: 30;
    text-align: center;
}
.review-slider .slick-track{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-list{
    overflow: hidden;
}
.review-slider .slick-arrow{
    position: absolute;
    z-index: 10;
    font-size: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
}

.review-slider .slick-arrow.slick-prev{
    left: 0;
    border: none;
    outline: none;
    background: url("../icons/arrow-l.svg") 0 0 / 100% no-repeat;
}
.review-slider .slick-arrow button{
    outline: none;
}
.review-slider .slick-arrow button:focus{
    outline: none;
}
.review-slider .slick-arrow.slick-next{
    right: 0;
    border: none;
    outline: none;
    background: url("../icons/arrow-r.svg") 0 0 / 100% no-repeat;
}
.review-slider .slick-arrow.slick-disabled{
    opacity: 0.2;
    border: none;
    outline: none;
}

@media screen and (max-width: 767px) and (min-width: 320px){

    .land_portfolio{
        min-height: 276px;
        padding-top: 0;
        margin-bottom: 0;
    }
    .text_title_p{
        font-size: 14px;
        margin-top: 30px;
    }
    .line_title_2{
        width: 91px;
        height: 0.2px;
    }

    .photo_line{
        margin-top: 13px;
        max-width: 100%;
    }
    .port_photo{
        min-width: 150px;
        min-height: 163px;
        max-height: 163px;
        max-width: 163px;
    }
    .more_bttn{
        width: 121px;
        height: 27px;
        margin-top: 21px;
        margin-bottom: 25px;

    }
    #more_bttn{
        font-size: 10px;
    }

}
@media screen and (min-width: 601px) and (max-width: 730px){
    .fourth{
        display: none;
    }
}
@media screen and (max-width: 600px) and (min-width: 320px){
    #third{
        display: none;
    }
    .fourth{
        display: none;
    }
    .land_portfolio{
        margin-top: -5px;
    }
    .photo_line img {
        border: 0.5px solid white;
        margin-left: 5px;
        margin-right: 5px;
    }
    .port_photo {

        max-height: 145px;
        max-width: 145px;
        min-width: 145px;
        min-height: 145px;
    }


}
@media screen and (min-width: 768px) and (max-width: 1185px){
    .land_portfolio{
        min-height: 472px;
        padding-top: 0;
    }
    .text_title_p{
        font-size: 24px;
        margin-top: 76px;
    }
    .line_title_2{
        width: 153px;
        height: 0.2px;
    }
    .photo_line{
        margin-top: 45px;
        max-width: 100%;
    }
    .port_photo{
        width: 163px;
        height: 163px;
    }
    .more_bttn{
        width: 197px;
        height: 39px;
        margin-top: 60px;
        margin-bottom: 80px;

    }
    #more_bttn{
        font-size: 16px;
    }
}
@media screen and (min-width: 940px) and (max-width: 1179px){
    .port_photo{
        width: 200px;
        height: 200px;
    }
}
@media screen and (min-width: 1180px){
    .port_photo{
        width: 270px;
        height: 270px;
    }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    .top_review{
        margin-top: 0;
        max-width: 320px;
        margin-bottom: 85px;
    }
    .reviews{
        margin-top: 10px;
    }
    .text_title_r{
        font-size: 14px;
    }
    .line_title_3{
        width: 68px;
        height: 0.2px;
    }
    .rev{
        border: 0.1px solid #C7CCDB;
        margin-bottom: 2px;
        width: 250px;

    }
    .user_icon{
        width: 35px;
        height: 35px;
        margin-top: 14px;
        margin-left: 14px;
    }
    .user_name{
        font-size: 12px;
        margin-left: 20px;
        margin-top: 0;
        text-align: left;
    }
    .review-slider{
        justify-content: center;
        padding: 0;
    }
    .rev_date{
        font-size: 10px;
        text-align: left;
        margin-left: 20px;
        margin-top: 2px;
    }
    .rev_user_inf{
        margin-top: 15px;
        margin-left: 10px;
    }
    .rev_text{
        font-family: Montserrat;
        font-size: 12px;
        margin: 14px;

    }
    .review-slider .slick-track{
        display: block;
        max-width: 320px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .review-slider .slick-arrow{
        width: 30px;
        height: 30px;
    }
    .review-slider .slick-arrow.slick-next {
        transform: rotate(90deg);
        bottom: 0;
        margin-left: 220px;
        margin-top: 40px;
        margin-bottom: -40px;
        left: 0;
    }
    .review-slider .slick-arrow.slick-prev{
        transform: rotate(90deg);
        margin-left: 180px;
        bottom:0;
        margin-bottom: -40px;
    }

}
@media screen and (min-width: 601px) and (max-width: 768px) {
    .top_review{
        justify-content: center;
        align-items: center;
        min-width: 0;
        max-width: 601px;
        margin-bottom: 100px;
    }

    .text_title_r{
        margin-top: 0px;
        font-size: 18px;
    }
    .line_3_bl{
        display:flex;
        margin-top: -17px;
    }
    .line_title_3{
        height: 0.3px;
        width: 110px;
    }
    .reviews{
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 601px;
        margin-top: 15px;
    }

    .review-slider .slick-track{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rev{
        max-width: 205px;
        margin-top: 3px;
        margin-left: 3px;
        margin-right: 3px;
        height: 176px;
    }
    .rev_user_inf{
        margin-top: 10px;
        display: flex;
        flex-direction: column;


    }
    .user_icon{
        width: 36px;
        height: 36px;
        margin-left: 13px;
        margin-top: 13px;
    }
    .user_name{
        font-size: 14px;
        text-align: left;
        margin-top: -5px;
        margin-left: 10px;

    }
    .rev_date{
        text-align: left;
        margin-left: 12px;
        font-size: 10px;
    }
    .rev_u{
        display: flex;
        flex-direction: row;

    }
    .rev_text{
        font-size: 12px;
        margin-left: 13px;
        margin-top: 13px;
    }

    .review-slider{
        display: flex;
        margin-right: auto;
        margin-left: auto;
    }

    .review-slider .slick-arrow{
        width: 30px;
        height: 30px;
    }

}
@media screen and (min-width: 769px) and (max-width: 989px){
    .top_review{
        min-width: 0;
        max-width: 1200px;
        margin: 100px auto 200px;
    }

    .text_title_r{
        margin-top: 0px;
        font-size: 24px;
    }
    .line_3_bl{
        display:flex;
        margin-top: -17px;
    }
    .line_title_3{
        height: 0.3px;
        width: 110px;
    }
    .reviews{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        max-width: 768px;
        margin-top: 15px;
    }
    .rev{
        max-width: 202px;
    }
    .rev_user_inf{
        margin-top: 10px;
        display: flex;
        flex-direction: column;


    }
    .user_icon{
        margin-left: 10px;
        margin-top: 10px;
        width: 36px;
        height: 36px;
    }
    .user_name{
        margin-top: 5px;
        text-align: left;
        font-size: 12px;
        margin-left: 10px;
    }
    .rev_date{
        font-size: 9px;
        margin-left: 9px;
    }
    .rev_u{
        display: flex;
        flex-direction: row;
        height: 200px;

    }
    .rev_text{
        margin-top: 10px;
        margin-left: 10px;
        font-size: 10px;
        margin-bottom: 22px;
    }

    .review-slider{
        max-width: 768px;
    }

    .review-slider .slick-arrow{
        width: 30px;
        height: 30px;
    }

}
@media screen and (min-width: 990px) and (max-width: 1200px){
    .top_review{
        min-width: 0;
        max-width: 1200px;
        margin: 100px auto 200px;
    }

    .text_title_r{
        margin-top: 0px;
        font-size: 24px;
    }
    .line_3_bl{
        display:flex;
        margin-top: -17px;
    }
    .line_title_3{
        height: 0.3px;
        width: 110px;
    }
    .reviews{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        max-width: 990px;
    }
    .rev{
        max-width: 260px;
        margin: 15px;
    }
    .rev_user_inf{
        margin-top: 15px;
        display: flex;
        flex-direction: column;


    }
    .user_icon{
        margin-left: 15px;
        margin-top: 15px;
        width: 36px;
        height: 36px;
    }
    .user_name{
        margin-top: 5px;
        text-align: left;
        font-size: 12px;
        margin-left: 10px;
    }
    .rev_date{
        font-size: 9px;
        margin-left: 9px;
    }
    .rev_u{
        display: flex;
        flex-direction: row;

    }
    .rev_text{
        margin-top: 10px;
        margin-left: 15px;
        font-size: 10px;
        margin-bottom: 22px;
    }

    .review-slider{
        max-width: 768px;
    }

    .review-slider .slick-arrow{
        width: 30px;
        height: 30px;
    }


}
