/*стилі для лендінга*/

.content_main{
    margin-top: 62px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    margin-right: auto;
    margin-left: auto;
}

.last_news{
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}


.title_land{
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #2A324B;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
.line_title{
    width: 355px;
    background: #2A324B;
    height: 0.5px;
    margin: 3px auto 55px;
}

/*для слайдера новин*/

.new_l{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
.slider{
    min-width: 0;
    max-width: 1200px;
}
.slider_item{
    transition: all 0.3s ease 0s;
    text-align: center;
    min-width: 0;
    opacity: 0.4;

}
.slider_item img{
    max-width: 600px;
    transition: 3s;
    text-align: center;
}
.slider_item.slick-center img{
    max-width: 893px;
    transition: 3s;
    text-align: center;
}
.slider_item.slick-center{
    opacity: 1;
    z-index: 30;
    text-align: center;
}
.slick-track{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-list{
    overflow: hidden;
}
.slider .slick-dots{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider .slick-dots li{
    list-style: none;
    margin: 0 10px;
}
.slider .slick-dots button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #C7CCDB;
    border-radius: 50%;
    border: none;
}
.slider .slick-dots li.slick-active button{
    background-color: #2d3748;
}

.land_portfolio{
    background-color: #343D5B;
    display: flex;
    padding-top: 100px;
    max-height: 886px;
    min-height: 276px;
    margin-bottom: 100px;
    margin-top: 100px;
    flex-direction: column;

}
.title_land_port{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    max-width: 1200px;
}
.text_title_p{
    display: flex;
    margin-top: 70px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;

}
.line_2_bl{
    display:flex;
    margin-top: -17px;
}
.line_title_2{
    background: #FFFFFF;
    height: 0.5px;
    width: 219px;
}
.photo_line{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
.port_photo{
    width: 270px;
    height: 270px;
    border: 0.5px solid white;
}
.more_bttn{
    display: flex;
    margin: 60px auto 190px;
    width: 337px;
    height: 66px;
    background-color: #FFFFFF;
}
#more_bttn{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 22px;
    color: #2A324B;
    margin: auto;
}
.top_review{
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-width: 1200px;
    margin: 100px auto 200px;
}

.text_title_r{
    display: flex;
    margin-top: 70px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.05em;
    color: #2A324B;
    margin-left: auto;
    margin-right: auto;

}
.line_3_bl{
    display:flex;
    margin-top: -17px;
}
.line_title_3{
    background: #2A324B;
    height: 0.5px;
    width: 219px;
}
.reviews{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin-top: 50px;
}
.rev{
    display: flex;
    flex-direction: column;
    width: 346px;
    height: 277px;
    border: 2px solid #C7CCDB;
}
.rev_user_inf{
    display: flex;
    flex-direction: column;
    margin-top: 22px;

}
.user_icon{
    width: 63px;
    height: 63px;
    margin-top: 22px;
    margin-left: 22px;
}
.user_name{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    margin-top: 10px;
    color: #2A324B;
    margin-left: 18px;
}
.rev_date{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #2A324B;
    margin-left: 30px;
    margin-top: 5px;
}
.rev_u{
    display: flex;
    flex-direction: row;
}
.rev_text{
    margin-left: 22px;
    margin-top: 22px;
    margin-right: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #2A324B;

}

