*{
    margin: 0;
    padding: 0;
}
.content{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.w_c{
    width: 100%;
    background: #FFFFFF;
    margin-top: -5px;
}
.crt-widget.crt-widget-branded {
    padding-bottom: 0px;
}
.title{
    margin: 0 auto;
    flex: 1;
    text-align: center;
    margin-top: 85px;
    margin-bottom: 70px;
}
.news{
    display: none;
}
.title_text{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #2A324B;
}
.title_line{
    border: none; /* Убираем границу */
    background-color: #2A324B; /* Цвет линии */
    color: #2A324B; /* Цвет линии для IE6-7 */
    height: 1px;
    width: 217px;
    justify-content: center;
    margin-top: 5px;
}
.close{
    display: none !important;
}
.add_margin{
    margin-top: 30px;
}
.line{
    display: inline-block;
}
.all_news{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 994px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
}
.news{
    background: #F2F4F8;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(239, 142, 67, 0.75);
}
.news_l_b{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 900px;
}
.news_cont{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 845px;

    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}
.n_img{
    display:block;
    margin: auto;
    width: 845px;
    margin-top: 60px;
}
.news_title{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: #2A324B;
    margin-top: 42px;
}
.news_description{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #2A324B;
    margin-top: 30px;

}
.news_line {
    border: none; /* Убираем границу */
    background-color: #9DA1AB; /* Цвет линии */
    color: #9DA1AB; /* Цвет линии для IE6-7 */
    height: 1px;
    /*width: 217px;*/
    justify-content: center;
    margin-top: 45px;
}
.news_date{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 845px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
.n_date{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: rgba(239, 142, 67, 0.75);
}
.com_icon{
    width: 21px;
    height: 21px;
    vertical-align: 1px;
}
.com_count{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: rgba(239, 142, 67, 0.75);
    vertical-align: 6px;
}
.news_l_b{
    margin-bottom: 40px;
}
.news{
    margin-bottom: 80px;
}
.but_cl{
    width: 100%;
}
/*.but_cl{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*}*/
.more_news{
    width: 450px;
    height: 109px;
    background: #F7C6A1;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.05em;
    border: none;
    color: #FFFFFF;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 20px;
    margin-bottom: 120px;
}
.tttt{
    margin-bottom: 60px;
}
.footer{
    margin-top: 50px;
}
.crt-widget.crt-widget-branded .crt-logo {
    color: #FFFFFF;
}
.ttt{
    color: #FFFFFF;
}
.move{
    margin-right: -20px;
}
@media (max-width: 1220px) {
    .tttt{
        margin-left: 30px;
        margin-bottom: 60px;
    }
}
@media (max-width: 1100px) {
    .title_text {
        font-size: 25px;
        line-height: 29px;
    }

    .title_line {
        width: 174px;
    }

}
@media (max-width: 1050px) {
    .news{
        margin-left: 30px;
        margin-right: 30px;
    }
    .news_cont{
        width: 100%;
        display: block;
        padding: 0 0px;
        margin: 0 auto;
        max-width: 785px;
    }
    .n_img{
        width: 785px;
        margin-left: 0;
        margin-right: 0;
    }
    .news_date{
        width: 100%;
        padding: 0 0px;
        margin: 0 auto;
        max-width: 785px;
    }
    .news_l_b{
        width: 100%;
        display: block;
        padding: 0 0px;
        margin: 0 auto;
        max-width: 815px;
        margin-bottom: 40px;
    }
}
@media (min-width: 900px) {
    .more_news:hover{
        background: #FFFFFF;
        border: 5px solid #F7C6A1;
        color: #1E2334;
        transition: all .5s;
        /*transform: scale(1.1);*/

    }
}
@media (max-width: 900px) {
    .title_text{
        font-size: 24px;
        line-height: 28px;
    }
    .title_line{
        width: 153px;
    }
    .title {
        margin-top: 47px;
    }
    .news_cont{
        width: 100%;
        display: block;
        padding: 0 0px;
        margin: 0 auto;
        max-width: 700px;
    }
    .n_img{
        width: 700px;
        margin-left: 0;
        margin-right: 0;
    }
    .news_date{
        width: 100%;
        padding: 0 0px;
        margin: 0 auto;
        max-width: 700px;
    }
    .news_l_b{
        width: 100%;
        display: block;
        padding: 0 0px;
        margin: 0 auto;
        max-width: 730px;
        margin-bottom: 40px;
    }
    .more_news{
        width: 364px;
        height: 88px;
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 70px;
    }
}
@media (max-width: 830px) {
    .news_cont{
        width: 100%;
        display: block;
        padding: 0 0px;
        margin: 0 auto;
        max-width: 600px;
    }
    .n_img{
        width: 600px;
        margin-left: 0;
        margin-right: 0;
    }
    .news_date{
        width: 100%;
        padding: 0 0px;
        margin: 0 auto;
        max-width: 600px;
    }
    .news_l_b{
        width: 100%;
        display: block;
        padding: 0 0px;
        margin: 0 auto;
        max-width: 630px;
        margin-bottom: 35px;
    }
    .news_title{
        font-size: 20px;
        line-height: 23px;
        margin-top: 25px;
    }
    .news_line{
        margin-top: 22px;
    }
    .news_date{
        margin-top: 18px;
    }
    .news_description{
        font-size: 16px;
        line-height: 20px;
    }
    .n_date{
        font-size: 14px;
        line-height: 17px;
    }
    .com_count{
        font-size: 14px;
        line-height: 17px;
    }
    .title {
        margin-bottom: 35px;
    }
    .news {
        margin-bottom: 45px;
    }
    .footer{
        margin-top: 40px;
    }
}
@media (max-width: 770px) {
    .news_cont{
        width: 100%;
        display: block;
        padding: 0 0px;
        margin: 0 auto;
        max-width: 552px;
    }
    .n_img{
        width: 552px;
        margin-left: 0;
        margin-right: 0;
    }
    .news_date{
        width: 100%;
        padding: 0 0px;
        margin: 0 auto;
        max-width: 552px;
    }
    .news_l_b{
        width: 100%;
        display: block;
        padding: 0 0px;
        margin: 0 auto;
        max-width: 582px;
        margin-bottom: 35px;
    }
    .more_news{
        width: 338.53px;
        height: 82px;
        font-size: 20px;
        line-height: 24px;
    }
}
@media (max-width: 700px) {
    .news_cont{
        width: 100%;
        display: block;
        padding: 0 0px;
        margin: 0 auto;
        max-width: 470px;
    }
    .n_img{
        width: 470px;
        margin-left: 0;
        margin-right: 0;
    }
    .news_date{
        width: 100%;
        padding: 0 0px;
        margin: 0 auto;
        max-width: 470px;
    }
    .news_l_b{
        width: 100%;
        display: block;
        padding: 0 0px;
        margin: 0 auto;
        max-width: 500px;
        margin-bottom: 30px;
    }
    .tttt{
        margin-bottom: 30px;
    }
}
@media (max-width: 600px) {
    .title_text {
        font-size: 20px;
        line-height: 23px;
    }
    .title_line {
        width: 131px;
    }
    .news_cont{
        width: 100%;
        display: block;
        padding: 0 0px;
        margin: 0 auto;
        max-width: 420px;
    }
    .n_img{
        width: 420px;
        margin-left: 0;
        margin-right: 0;
    }
    .news_date{
        width: 100%;
        padding: 0 0px;
        margin: 0 auto;
        max-width: 420px;
    }
    .news_l_b{
        width: 100%;
        display: block;
        padding: 0 0px;
        margin: 0 auto;
        max-width: 450px;
        margin-bottom: 25px;
    }
    .news_title{
        font-size: 18px;
        line-height: 21px;
        margin-top: 25px;
    }
    .news_line{
        margin-top: 22px;
    }
    .news_date{
        margin-top: 18px;
    }
    .news_description{
        font-size: 14px;
        line-height: 17px;
    }
    .n_date{
        font-size: 12px;
        line-height: 17px;
    }
    .com_count{
        font-size: 12px;
        line-height: 17px;
    }
    .com_icon{
        width: 19px;
        height: 19px;
    }
    .more_news{
        width: 280px;
        height: 67.82px;
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 550px) {
    .news_cont{
        width: 100%;
        display: block;
        padding: 0 0px;
        margin: 0 auto;
        max-width: 320px;
    }
    .n_img{
        width: 320px;
        margin-left: 0;
        margin-right: 0;
    }
    .news_date{
        width: 100%;
        padding: 0 0px;
        margin: 0 auto;
        max-width: 320px;
    }
    .news_l_b{
        width: 100%;
        display: block;
        padding: 0 0px;
        margin: 0 auto;
        max-width: 350px;
        margin-bottom: 22px;
    }
    .news_title{
        font-size: 16px;
        line-height: 19px;
        margin-top: 25px;
    }
    .news_line{
        margin-top: 22px;
    }
    .news_date{
        margin-top: 18px;
    }
    .news_description{
        font-size: 12px;
        line-height: 15px;
    }
    .n_date{
        font-size: 10px;
        line-height: 17px;
    }
    .com_count{
        font-size: 10px;
        line-height: 17px;
    }
    .com_icon{
        width: 16px;
        height: 16px;
    }
}
@media (max-width: 500px) {
    .more_news{
        width: 254.53px;
        height: 61.65px;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 40px;
    }
    .tttt{
        margin-bottom: 20px;
    }
}
@media (max-width: 470px) {
    .news_date{
        /*display: flex;*/
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .news_cont{
        width: 100%;
        display: block;
        padding: 0 0px;
        margin: 0 auto;
        max-width: 290px;
    }
    .n_img{
        width: 320px;
        margin-left: 0;
        margin-right: 0;
    }
    .news_date{
        width: 100%;
        padding: 0 0px;
        margin: 0 auto;
        max-width: 290px;
    }
    .news_l_b{
        width: 100%;
        display: block;
        padding: 0 0px;
        margin: 0 auto;
        max-width: 310px;
        margin-bottom: 22px;
    }

    .com_icon{
        width: 14px;
        height: 14px;
    }
}
@media (max-width: 470px) {
    .all_news{
        align-items: center;
    }
    /*.news{*/
    /*    flex: 1;*/
    /*}*/
    .news_cont{
        width: 100%;
        display: block;
        padding: 0 0px;
        margin: 0 auto;
        max-width: 330px;
    }
    .n_img{
        margin-top: 0px;
        width: 330px;
        margin-left: 0;
        margin-right: 0;
    }
    .news_date{
        width: 100%;
        padding: 0 0px;
        margin: 0 auto;
        max-width: 330px;
    }
    .news_l_b{
        width: 100%;
        display: block;
        padding: 0 0px;
        margin: 0 auto;
        max-width: 330px;
        margin-bottom: 22px;
    }
    .news{
        max-width: 330px;
        min-width: 330px;
    }
    .com_icon{
        width: 13px;
        height: 13px;
    }
    .news_title{
        margin-top: 14px;
        margin-left: 16px;
        margin-right: 16px;
    }
    .news_description{
        margin-top: 10px;
        margin-left: 16px;
        margin-right: 16px;
    }
}
@media (max-width: 440px) {
    .title_text {
        font-size: 17px;
        line-height: 20px;
    }
    .title_line {
        width: 122px;
    }
    .title{
        margin-bottom: 30px;
    }
    .news_title{
         font-size: 16px;
         line-height: 19px;
         margin-top: 25px;
     }
    .news_line{
        margin-top: 22px;
    }
    .news_date{
        margin-top: 18px;
    }
    .news_description{
        font-size: 12px;
        line-height: 15px;
    }
    .n_date{
        font-size: 10px;
        line-height: 17px;
    }
    .com_count{
        font-size: 10px;
        line-height: 17px;
    }
    .com_icon{
        width: 14px;
        height: 14px;
    }
    .more_news{
        width: 183px;
        height: 46px;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 30px;
    }
}
@media (max-width: 380px) {
    .title{
        margin-top: 33px;
        margin-bottom: 25px;
    }
    .title_text{
        font-size: 14px;
        line-height: 16px;
    }
    .title_line{
        width: 108px;
    }
    .news_cont{
        width: 100%;
        display: block;
        padding: 0 0px;
        margin: 0 auto;
        max-width: 280px;
    }
    .n_img{
        margin-top: 0px;
        width: 280px;
        margin-left: 0;
        margin-right: 0;
    }
    .news_date{
        width: 100%;
        padding: 0 0px;
        margin: 0 auto;
        max-width: 280px;
    }
    .news_l_b{
        width: 100%;
        display: block;
        padding: 0 0px;
        margin: 0 auto;
        max-width: 280px;
        margin-bottom: 19px;
    }
    .news{
        max-width: 280px;
        min-width: 280px;
    }
    .com_icon{
        width: 12px;
        height: 12px;
    }
    .news_title{
        margin-top: 14px;
        margin-left: 16px;
        margin-right: 16px;
        font-size: 14px;
        line-height: 16px;
    }
    .news_description{
        margin-top: 10px;
        margin-left: 16px;
        margin-right: 16px;
        font-size: 10px;
        line-height: 12px;
    }
    .n_date{
        font-size: 8px;
        line-height: 10px;
    }
    .com_count{
        font-size: 8px;
        line-height: 10px;
    }
}
