*{
    margin: 0;
    padding: 0;
}
.content{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.title{
    margin: 0 auto;
    flex: 1;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;
}
.title_text{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #2A324B;
    margin-bottom: 31px;
    text-align: left;
}
.line{
    display: inline-block;
}
.first_column{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fc_first_row{
    flex: 2.5;
}
.fc_second_row{
    flex: 1;
}
.news{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 770px;
}
.news_img{
    width: 770px;
    margin-bottom: 60px;
}
.news_line_cont{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 730px;
}
.news_text_cont{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 690px;
}
.news_text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #2A324B;
    text-align: left;
}
.news_date{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 690px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.n_date{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: rgba(239, 142, 67, 0.75);
}
.news_line{
    border: none;
    background-color: #9DA1AB;
    color: #9DA1AB;
    height: 1px;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 25px;
}
.com_icon{
    width: 21px;
    height: 21px;
    vertical-align: 1px;
}
.com_count{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: rgba(239, 142, 67, 0.75);
    vertical-align: 6px;
}
.last_news_title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #2A324B;
    text-align: left;
    margin-bottom: 20px;
}
.l_news{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 357px;
    background: #F2F4F8;
    box-shadow: 0px 4px 4px #F3AA72;
    margin-bottom: 25px;
}
.l_news_cont{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 317px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
}
.last_news_img{
    flex: 1;
    width: 130px;
}
.last_news_text{
    flex: 1;
    border: none;
    margin-left: 20px;
    background: #F2F4F8;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #2A324B;
    text-align: left;
    vertical-align: middle;
}
.second_column{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sc_first_row{
    flex: 2;
}
.sc_second_row{
    flex: 1;
}
.com_block{
    width: 793px;
    height: 527px;
    background: #F9FBFE;
    box-shadow: 0px 4px 4px #F3AD76;
}
.title_block{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 713px;
}
.com_title{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #2A324B;
    text-align: left;
    padding-top: 74px;
    margin-bottom: 34px;
}
.com{
    margin-bottom: 33px;
}
.com_cont{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 673px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.com_text{
    text-align: left;
    margin-left: 20px;
}
.title_block{
    margin-bottom: 60px;
}
.com_img{
    width: 63px;
    height: 63px;
}
.name{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    letter-spacing: 0.05em;
    color: #2A324B;
}
.date{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 11px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #2A324B;
    margin-left: 5px;
}
.second_line{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #2A324B;
    margin-top: 8px;
}
.third_line{
    margin-top: 14px;
}
.like{
     width: 22px;
     height: 22px;
 }
.count{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
    letter-spacing: 0.05em;
    color: #2A324B;
}
.dislike{
    width: 22px;
    height: 22px;
    transform: rotate(-180deg);
    margin-left: 15px;
}
.answer_but{
    border: none;
    background: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #2A324B;
    margin-left: 30px;
}
@media (max-width: 1215px) {
    .title_text{
        font-size: 28px;
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media (max-width: 1150px) {
    .title_text{
        font-size: 26px;
    }
}
@media (max-width: 900px) {
    .title {
        margin-top: 47px;
    }
}
@media (max-width: 850px) {
    .title_text{
        font-size: 24px;
        line-height: 40px;

    }
    .title {
        margin-bottom: 35px;
    }
}
@media (max-width: 750px) {
    .title_text{
        font-size: 22px;
        line-height: 35px;
    }
}
@media (max-width: 650px) {
    .title_text{
        font-size: 20px;
        line-height: 30px;
    }
}
@media (max-width: 550px) {
    .title_text{
        font-size: 18px;
    }
}
@media (max-width: 450px) {
    .title_text{
        font-size: 16px;
        line-height: 25px;
    }
    .title{
        margin-bottom: 30px;
    }
}
@media (max-width: 380px) {
    .title_text{
        font-size: 14px;
    }
    .title{
        margin-top: 33px;
    }
}
@media (max-width: 360px) {
    .title_text{
        font-size: 12px;
        line-height: 20px;
    }
}


