*{
    margin: 0;
    padding: 0;
}
.content{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.title{
    margin: 0 auto;
    flex: 1;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;
}
.title_text{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #2A324B;
    margin-bottom: 31px;
    text-align: left;
}
.line{
    display: inline-block;
}
.news{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 770px;
    margin-right: 0;
}
.news_img{
    width: 770px;
    margin-bottom: 60px;
}
.news_line_cont{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 730px;
}
.news_text_cont{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 690px;
}
.news_text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #2A324B;
    text-align: left;
}
.news_date{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 690px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.n_date{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: rgba(239, 142, 67, 0.75);
}
.news_line{
    border: none;
    background-color: #9DA1AB;
    color: #9DA1AB;
    height: 1px;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 25px;
}
.com_icon{
    width: 21px;
    height: 21px;
    vertical-align: 1px;
}
.com_count{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: rgba(239, 142, 67, 0.75);
    vertical-align: 6px;
}
.last_news_title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #2A324B;
    text-align: left;
    margin-bottom: 20px;
    padding-left: 36.5px;
    padding-top: 11px;
}
.l_news{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 357px;
    background: #F2F4F8;
    box-shadow: 0px 4px 4px #F3AA72;
    margin-bottom: 25px;
}
.l_news_cont{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 317px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
}
.last_news_img{
    flex: 1;
    width: 130px;
}
.last_news_text{
    flex: 1;
    border: none;
    margin-left: 20px;
    background: #F2F4F8;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #2A324B;
    text-align: left;
    vertical-align: middle;
}
.second_column{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sc_first_row{
    flex: 2.3;
}
.sc_second_row{
    flex: 1;
    text-align: left;
}
.com_block{
    width: 793px;
    height: 527px;
    background: #F2F4F8;
    box-shadow: 0px 4px 4px #F3AD76;
}
.second_column{
    margin-top: 120px;
}
/*.field1{*/
/*    width: 338px;*/
/*}*/
.title_block{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 713px;
}
.com_title{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #2A324B;
    text-align: left;
    padding-top: 74px;
    margin-bottom: 34px;
}
.com{
    margin-bottom: 33px;
}
.com_cont{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 673px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.com_text{
    text-align: left;
    margin-left: 20px;
}
.title_block{
    margin-bottom: 60px;
}
.com_img{
    width: 63px;
    height: 63px;
}
.name{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    letter-spacing: 0.05em;
    color: #2A324B;
}
.date{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 11px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #2A324B;
    margin-left: 5px;
}
.second_line{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #2A324B;
    margin-top: 8px;
}
.third_line{
    margin-top: 14px;
}
.like{
     width: 22px;
     height: 22px;
 }
.count{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
    letter-spacing: 0.05em;
    color: #2A324B;
}
.dislike{
    width: 22px;
    height: 22px;
    transform: rotate(-180deg);
    margin-left: 15px;
}
.answer_but{
    border: none;
    background: #F2F4F8;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #2A324B;
    margin-left: 30px;
}
.scsr_title{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #2A324B;
    margin-top: 74px;
    margin-bottom: 53px;
    width: 274px;
    margin-right: 0;
}
.field1{
    background: #FFFFFF;
    border: 2px solid #C7CCDB;
    width: 338px;
    height: 34px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    letter-spacing: 0.05em;
    padding-left: 5px;
    color: #797979;
    margin-bottom: 15px;
}
.new_com_inf{
    background: #FFFFFF;
    border: 2px solid #C7CCDB;
    width: 338px;
    height: 130px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: #797979;
    padding-left: 5px;
    padding-top: 7px;
    margin-bottom: 18px;
}
.add_com_but{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    width: 118px;
    height: 30px;
    background: #F3AA72;
    border: none;
}
.footer{
    margin-top: 200px;
}
.add_com_form{
    width: 201px;
    height: 42px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background: #F3AA72;
    border: none;
}
@media (max-width: 1280px) {
    .content{
        padding-left: 30px;
        padding-right: 30px;
    }
    .last_news{
        padding-left: 30px;
    }
    .sc_second_row{
        padding-left: 30px;
    }
}
/*@media (max-width: 1250px) {*/
/*    .content{*/
/*        padding-left: 30px;*/
/*        padding-right: 30px;*/
/*    }*/
/*}*/
@media (min-width: 1230px) {
    .first_column{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .fc_first_row{
        flex: 2.5;
        max-width: 770px;
    }
    .fc_second_row{
        flex: 1;
    }
}
@media (max-width: 1229px) {
    .content{
        padding-right: 0;
        margin-right: 0;
        padding-left: 0;
    }
    .fc_first_row{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .news{
        max-width: 980px;
        margin-right: auto;
        margin-left: auto;
    }
    .news_img{
        width: 980px;
        margin-bottom: 60px;
    }
    .news_line_cont{
        max-width: 940px;
    }
    .news_text_cont{
        max-width: 900px;
    }
    .news_date{
        max-width: 900px;
    }
    /*.fc_first_row{*/
    /*    max-width: 710px;*/
    /*}*/
    .last_news_title{
        padding-left: 70px;
    }
    .com_block{
        width: 710px;
        height: 474px;
        background: #F2F4F8;
        box-shadow: 0px 4px 4px #F3AD76;
    }

    /*.field1{*/
    /*    width: 338px;*/
    /*}*/
    .title_block{
        max-width: 670px;
    }
    /*.com_title{*/
    /*    font-size: 26px;*/
    /*}*/
    .com{
        margin-bottom: 33px;
    }
    .com_cont{
        max-width: 600px;
    }
    .com_text{
        text-align: left;
        margin-left: 20px;
    }
    .title_block{
        margin-bottom: 60px;
    }
    .com_img{
        width: 63px;
        height: 63px;
    }
    .name{
        font-size: 13px;
        line-height: 16px;
    }
    .second_line{
        font-size: 13px;
        line-height: 16px;
    }
    .third_line{
        margin-top: 14px;
    }
    .last_news_img {
        width: 110px;
        margin-left: 15px;
    }
    .last_news_text{
        font-size: 13px;
        margin-right: 15px;
    }
    .l_news{
        width: 300px;
    }
    .title_text{
        text-align: center;
    }
    .second_column{
        margin-left: 30px;
        margin-right: 30px;
    }
}
@media (max-width: 1215px) {
    /*.title_text{*/
    /*    font-size: 28px;*/
    /*}*/
}
@media (max-width: 1150px) {
    .title_text{
        font-size: 26px;
    }
    .com_title{
        font-size: 26px;
        padding-left: 10px;
        padding-top: 50px;
    }
    .scsr_title{
        font-size: 26px;
        margin-top: 50px;
    }

}
@media (max-width: 1135px) {
    .field1{
        width: 280px;
    }
    .new_com_inf{
        width: 280px;
    }
}
@media (min-width: 1070px) {
    .add_com_form{
        display: none !important;
    }

}
@media (max-width: 1070px) {
    .sc_second_row{
        display: none !important;
    }
    .com_block{
        width: 100%;
        background: #FFFFFF;
        box-shadow: none;
    }
    .com_title{
        text-align: left;
    }
    .title_block{
        max-width: 1000px;
        margin-left: 0;
        margin-right: 0;
    }
    .com_cont{
        max-width: 900px;
    }
    .second_line{
        max-width: 900px;
    }
    .answer_but{

    }
    .pzdts{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .com_title{
        flex: 1;
    }
    .add_com_form{
        flex: 1;
        max-width: 201px;
        min-width: 201px;
        margin-top: 50px;
    }
    .second_column{
        margin-top: 60px;
    }
}
@media (max-width: 1050px) {
    .news{
        max-width: 860px;
        margin-right: auto;
        margin-left: auto;
    }
    .news_img{
        width: 860px;
        margin-bottom: 60px;
    }
    .news_line_cont{
        max-width: 840px;
    }
    .news_text_cont{
        max-width: 800px;
    }
    .news_date{
        max-width: 800px;
    }
    .news_text{
         font-size: 18px;
         line-height: 22px;
     }
}
@media (max-width: 900px) {
    .title {
        margin-top: 30px;
    }
    .news{
        max-width: 800px;
        margin-right: auto;
        margin-left: auto;
    }
    .news_img{
        width: 800px;
        margin-bottom: 60px;
    }
    .news_line_cont{
        max-width: 780px;
    }
    .news_text_cont{
        max-width: 740px;
    }
    .news_date{
        max-width: 740px;
    }
}
@media (max-width: 850px) {
    .title_text{
        font-size: 24px;
        line-height: 40px;

    }
    .title {
        margin-bottom: 35px;
    }
    .news{
        max-width: 740px;
        margin-right: auto;
        margin-left: auto;
    }
    .news_img{
        width: 740px;
        margin-bottom: 60px;
    }
    .news_line_cont{
        max-width: 720px;
    }
    .news_text_cont{
        max-width: 680px;
    }
    .news_date{
        max-width: 680px;
    }
}
@media (max-width: 780px) {
    .news{
        max-width: 708px;
        margin-right: auto;
        margin-left: auto;
    }
    .news_img{
        width: 708px;
        margin-bottom: 60px;
    }
    .news_line_cont{
        max-width: 688px;
    }
    .news_text_cont{
        max-width: 640px;
    }
    .news_date{
        max-width: 640px;
    }
    .news_text{
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width: 750px) {
    .title_text{
        font-size: 22px;
        line-height: 35px;
    }
    .news{
        max-width: 640px;
        margin-right: auto;
        margin-left: auto;
    }
    .news_img{
        width: 640px;
        margin-bottom: 60px;
    }
    .news_line_cont{
        max-width: 620px;
    }
    .news_text_cont{
        max-width: 580px;
    }
    .news_date{
        max-width: 580px;
    }
    .news_text{
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width: 670px) {
    .news{
        max-width: 540px;
        margin-right: auto;
        margin-left: auto;
    }
    .news_img{
        width: 540px;
        margin-bottom: 60px;
    }
    .news_line_cont{
        max-width: 520px;
    }
    .news_text_cont{
        max-width: 480px;
    }
    .news_date{
        max-width: 480px;
    }
    .news_text{
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width: 650px) {
    .title_text{
        font-size: 19px;
        line-height: 30px;
    }
}
@media (max-width: 570px) {
    .title_text{
        font-size: 18px;
    }
    .news{
        max-width: 440px;
        margin-right: auto;
        margin-left: auto;
    }
    .news_img{
        width: 440px;
        margin-bottom: 60px;
    }
    .news_line_cont{
        max-width: 420px;
    }
    .news_text_cont{
        max-width: 380px;
    }
    .news_date{
        max-width: 380px;
    }
    .news_text{
        font-size: 14px;
        line-height: 17px;
    }
}
@media (max-width: 470px) {
    .news{
        max-width: 336px;
        margin-right: auto;
        margin-left: auto;
    }
    .news_img{
        width: 336px;
        margin-bottom: 60px;
    }
    .news_line_cont{
        max-width: 346px;
    }
    .news_text_cont{
        max-width: 313px;
    }
    .news_date{
        max-width: 313px;
    }
    .news_text{
        font-size: 12px;
        line-height: 15px;
    }
}
@media (max-width: 450px) {
    .title_text{
        font-size: 16px;
        line-height: 25px;
    }
    .title{
        margin-bottom: 30px;
    }
}
@media (max-width: 380px) {
    .title_text{
        font-size: 14px;
    }
    .title{
        margin-top: 33px;
    }
}
@media (max-width: 360px) {
    .title_text{
        font-size: 12px;
        line-height: 20px;
    }
}


