*{
    margin: 0;
    padding: 0;
}
.content{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.title{
    margin: 0 auto;
    flex: 1;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;
}
.title_text{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #2A324B;
    margin-bottom: 31px;
    text-align: left;
}
.line{
    display: inline-block;
}
.answer_but{
    margin-left: 0;
}
.news{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 770px;
    margin-right: 0;
}
.news_img{
    width: 770px;
    margin-bottom: 60px;
}
.news_line_cont{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 730px;
}
.news_text_cont{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 690px;
}
.news_text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #2A324B;
    text-align: left;
}
.news_date{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 690px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.n_date{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: rgba(239, 142, 67, 0.75);
}
.news_line{
    border: none;
    background-color: #9DA1AB;
    color: #9DA1AB;
    height: 1px;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 25px;
}
.com_icon{
    width: 21px;
    height: 21px;
    vertical-align: 1px;
}
.com_count{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: rgba(239, 142, 67, 0.75);
    vertical-align: 6px;
}
.last_news_title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #2A324B;
    text-align: left;
    margin-bottom: 20px;
    padding-left: 36.5px;
    padding-top: 11px;
}
.l_news{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 357px;
    background: #F2F4F8;
    box-shadow: 0px 4px 4px #F3AA72;
    margin-bottom: 25px;
}
.l_news_cont{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 317px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
}
.last_news_img{
    flex: 1;
    width: 130px;
}
.last_news_text{
    flex: 1;
    border: none;
    margin-left: 20px;
    background: #F2F4F8;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #2A324B;
    text-align: left;
    vertical-align: middle;
}
.second_column{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sc_first_row{
    flex: 2.3;
}
.sc_second_row{
    flex: 1;
    text-align: left;
}
.com_block{
    width: 793px;
    /*min-height: 300px;*/
    background: #F2F4F8;
    box-shadow: 0px 4px 4px #F3AD76;
    padding-bottom: 30px;
}
.second_column{
    margin-top: 120px;
}
/*.field1{*/
/*    width: 338px;*/
/*}*/
.title_block{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 700px;
}
.last_news_title{
    margin-left: 10px;
}
.com_title{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #2A324B;
    text-align: left;
    padding-top: 74px;
    margin-bottom: 34px;
}
.com{
    margin-bottom: 33px;
}
.pzdts{
    margin-bottom: 7px;
}
.com_cont{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 673px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-bottom: 20px;
}
.com_text{
    text-align: left;
    margin-left: 20px;
}
.title_block{
    margin-bottom: 60px;
}
.com_img{
    width: 63px;
    height: 63px;
}
.name{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    letter-spacing: 0.05em;
    color: #2A324B;
}
.date{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 11px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #2A324B;
    margin-left: 5px;
}
.second_line{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #2A324B;
    margin-top: 8px;
}
.third_line{
    margin-top: 14px;
}
.like{
     width: 22px;
     height: 22px;
 }
.count{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
    letter-spacing: 0.05em;
    color: #2A324B;
}
.dislike{
    width: 22px;
    height: 22px;
    transform: rotate(-180deg);
    margin-left: 15px;
}
.answer_but{
    border: none;
    background: #F2F4F8;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #2A324B;
    margin-left: 30px;
    cursor: pointer;
}
.scsr_title{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #2A324B;
    margin-top: 74px;
    margin-bottom: 53px;
    width: 274px;
    margin-right: 0;
}
.field1{
    background: #FFFFFF;
    border: 2px solid #C7CCDB;
    width: 338px;
    height: 34px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */

    letter-spacing: 0.05em;
    padding-left: 5px;
    color: #797979;
    margin-bottom: 15px;
}
.new_com_inf{
    background: #FFFFFF;
    border: 2px solid #C7CCDB;
    width: 338px;
    height: 130px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: #797979;
    padding-left: 5px;
    padding-top: 7px;
    margin-bottom: 18px;
}
.add_com_but{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    width: 118px;
    height: 30px;
    background: #F3AA72;
    border: none;
}
.footer{
    margin-top: 200px;
}
.add_com_form{
    width: 201px;
    height: 42px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background: #F3AA72;
    border: none;
    cursor: pointer;
}
.news_comments{
    margin-top: -5px;
}
.tttt{
    margin-bottom: 50px;
}
.com_title{
    padding-top: 55px;
}
.com{
    margin-bottom: 10px;
}
@media (max-width: 1280px) {
    .content{
        padding-left: 30px;
        padding-right: 30px;
    }
    .fc_second_row{
        padding-left: 30px;
    }
    .sc_second_row{
        padding-left: 30px;
    }
    .last_news_title{
        padding-left: 0;
    }

}
.scsr_title {
    margin-top: 55px;
}

/*@media (max-width: 1250px) {*/
/*    .content{*/
/*        padding-left: 30px;*/
/*        padding-right: 30px;*/
/*    }*/
/*}*/
@media (min-width: 1230px) {
    .first_column{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .fc_first_row{
        flex: 2.5;
        max-width: 770px;
    }
    .fc_second_row{
        flex: 1;
    }
    .line_1{
        display: inline-block;
    }

}
@media (max-width: 1229px) {
    .last_news_title {
        padding-top: 60px;
        padding-left: 0;
    }
    .fc_seconf_row{
        padding-right: 30px;
    }

    .content{
        padding-right: 0;
        margin-right: 0;
        padding-left: 0;
    }
    .fc_first_row{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .news{
        max-width: 980px;
        margin-right: auto;
        margin-left: auto;
    }
    .news_img{
        width: 980px;
        margin-bottom: 60px;
    }
    .news_line_cont{
        max-width: 940px;
    }
    .news_text_cont{
        max-width: 900px;
    }
    .news_date{
        max-width: 900px;
    }
    /*.fc_first_row{*/
    /*    max-width: 710px;*/
    /*}*/
    .last_news_title{
        padding-left: 70px;
    }
    .com_block{
        width: 710px;
        /*height: 474px;*/
        background: #F2F4F8;
        box-shadow: 0px 4px 4px #F3AD76;
    }

    /*.field1{*/
    /*    width: 338px;*/
    /*}*/
    .title_block{
        max-width: 650px;
    }
    /*.com_title{*/
    /*    font-size: 26px;*/
    /*}*/
    .com{
        margin-bottom: 0px;
    }
    .com_cont{
        max-width: 600px;
    }
    .com_text{
        text-align: left;
        margin-left: 20px;
    }
    .title_block{
        margin-bottom: 60px;
    }
    .com_img{
        width: 63px;
        height: 63px;
    }
    .name{
        font-size: 13px;
        line-height: 16px;
    }
    .second_line{
        font-size: 13px;
        line-height: 16px;
    }
    .third_line{
        margin-top: 14px;
    }
    .last_news_img {
        width: 110px;
        margin-left: 15px;
    }
    .last_news_text{
        font-size: 13px;
        margin-right: 15px;
    }
    .l_news{
        width: 300px;
    }
    .title_text{
        text-align: center;
    }
    .second_column{
        margin-left: 30px;
        margin-right: 30px;
    }
    .last_news{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .l_news{
        flex: 1;
    }
    .last_news_title{
        padding-left: 0;
    }
    .l_news_cont{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .last_news_img{
        margin-left: auto;
        margin-right: auto;
        width: 229px;
        height: 117px;
    }
    .qqq{
        max-width: 210px;
    }
    .last_news_text{
        font-size: 18px;
        line-height: 22px;
        margin-top: 10px;
        text-align: center;
    }
    .fc_second_row{
        padding-right: 30px;
    }
}
@media (max-width: 1215px) {
    /*.title_text{*/
    /*    font-size: 28px;*/
    /*}*/
}
@media (max-width: 1170px) {
    .last_news_img{
        margin-left: auto;
        margin-right: auto;
        width: 198.66px;
        height: 100.67px;
    }
    .last_news_text{
        font-size: 18px;
        line-height: 22px;
    }
    .qqq{
        max-width: 180px;
    }
    .l_news{
        max-width: 240px;
        min-width: 240px;
    }
}
@media (max-width: 1150px) {
    .title_text{
        font-size: 26px;
    }
    .com_title{
        font-size: 26px;
        padding-left: 10px;
        padding-top: 50px;
    }
    .scsr_title{
        font-size: 26px;
        margin-top: 50px;
    }

}
@media (max-width: 1135px) {
    .field1{
        width: 280px;
    }
    .new_com_inf{
        width: 280px;
    }
}
@media (min-width: 1070px) {
    .add_com_form{
        display: none !important;
    }

}
@media (max-width: 1070px) {
    .footer{
        margin-top: 100px;
    }
    .answer_but{
        background: #FFFFFF;
    }
    .sc_second_row{
        display: none !important;
    }
    .com_block{
        width: 100%;
        background: #FFFFFF;
        box-shadow: none;
    }
    .com_title{
        text-align: left;
    }
    .title_block{
        max-width: 1000px;
        margin-left: 0;
        margin-right: 0;
    }
    .com_cont{
        max-width: 900px;
    }
    .second_line{
        max-width: 900px;
    }
    .answer_but{

    }
    .pzdts{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .com_title{
        flex: 1;
    }
    .add_com_form{
        flex: 1;
        max-width: 201px;
        min-width: 201px;
        margin-top: 50px;
    }
    .second_column{
        margin-top: 60px;
    }
}
@media (max-width: 1050px) {
    .title{
        margin-top: 0;
    }

    .news{
        max-width: 860px;
        margin-right: auto;
        margin-left: auto;
    }
    .news_img{
        width: 860px;
        margin-bottom: 60px;
    }
    .news_line_cont{
        max-width: 840px;
    }
    .news_text_cont{
        max-width: 800px;
    }
    .news_date{
        max-width: 800px;
    }
    .news_text{
         font-size: 18px;
         line-height: 22px;
     }
    .n_date{
        font-size: 18px;
        line-height: 22px;
    }
    .com_count{
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 900px) {
    .title {
        margin-top: 0px;
    }
    .news{
        max-width: 800px;
        margin-right: auto;
        margin-left: auto;
    }
    .news_img{
        width: 800px;
        margin-bottom: 60px;
    }
    .news_line_cont{
        max-width: 780px;
    }
    .news_text_cont{
        max-width: 740px;
    }
    .news_date{
        max-width: 740px;
    }
}
@media (max-width: 850px) {
    .title_text{
        font-size: 24px;
        line-height: 40px;

    }
    .title {
        margin-bottom: 35px;
    }
    .news{
        max-width: 740px;
        margin-right: auto;
        margin-left: auto;
    }
    .news_img{
        width: 740px;
        margin-bottom: 60px;
    }
    .news_line_cont{
        max-width: 720px;
    }
    .news_text_cont{
        max-width: 680px;
    }
    .news_date{
        max-width: 680px;
    }
    .news_img{
        margin-bottom: 35px;
    }
}
@media (max-width: 825px) {
    .last_news_img{
        margin-left: auto;
        margin-right: auto;
        width: 163px;
        height: 83px;
    }
    .last_news_text{
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 15px;
    }
    .qqq{
        max-width: 150px;
    }
    .l_news{
        max-width: 200px;
        min-width: 200px;
    }
}
@media (max-width: 780px) {
    .news{
        max-width: 708px;
        margin-right: auto;
        margin-left: auto;
    }
    .news_img{
        width: 708px;
        margin-bottom: 35px;
    }
    .news_line_cont{
        max-width: 688px;
    }
    .news_text_cont{
        max-width: 640px;
    }
    .news_date{
        max-width: 640px;
    }
    .news_text{
        font-size: 16px;
        line-height: 20px;
    }
    .n_date{
        font-size: 16px;
        line-height: 20px;
    }
    .com_count{
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width: 770px) {
    .add_com_form{
        margin-top: 39px;
    }
    .com_title{
        font-size: 20px;
        line-height: 23px;
    }
    .add_com_form{
        font-size: 14px;
        line-height: 17px;
    }
    .name{
        font-size: 16px;
        line-height: 19px;
    }
    .date{
        font-size: 10px;
        line-height: 12px;
    }
    .second_line{
        font-size: 14px;
        line-height: 17px;
    }
    .count{
        font-size: 12px;
        line-height: 15px;
    }
    .answer_but{
        font-size: 14px;
        line-height: 17px;
    }
    .tttt{
        margin-bottom: 30px;
    }
}
@media (max-width: 750px) {
    .title_text{
        font-size: 22px;
        line-height: 35px;
    }
    .news{
        max-width: 640px;
        margin-right: auto;
        margin-left: auto;
    }
    .news_img{
        width: 640px;
        margin-bottom: 35px;
    }
    .news_line_cont{
        max-width: 620px;
    }
    .news_text_cont{
        max-width: 580px;
    }
    .news_date{
        max-width: 580px;
    }
    .news_text{
        font-size: 16px;
        line-height: 20px;
    }
    .n_date{
        font-size: 16px;
        line-height: 20px;
    }
    .com_count{
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width: 700px) {
    .last_news_img{
        margin-left: auto;
        margin-right: auto;
        width: 147px;
        height: 75px;
    }
    .last_news_text{
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 15px;
    }
    .qqq{
        max-width: 135px;
    }
    .l_news{
        max-width: 187px;
        min-width: 187px;
    }
}
@media (max-width: 670px) {
    .news{
        max-width: 540px;
        margin-right: auto;
        margin-left: auto;
    }
    .news_img{
        width: 540px;
        margin-bottom: 35px;
    }
    .news_line_cont{
        max-width: 520px;
    }
    .news_text_cont{
        max-width: 480px;
    }
    .news_date{
        max-width: 480px;
    }
    .news_text{
        font-size: 16px;
        line-height: 20px;
    }
    .n_date{
        font-size: 16px;
        line-height: 20px;
    }
    .com_count{
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width: 650px) {
    .title_text{
        font-size: 19px;
        line-height: 30px;
    }
    .last_news_img{
        margin-left: auto;
        margin-right: auto;
        max-width: 122px;
        min-width: 122px;
        max-height: 62px;
        min-height: 62px;
        height: auto;
    }
    .last_news_text{
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 15px;
    }
    .qqq{
        max-width: 112px;
    }
    .l_news{
        max-width: 152px;
        min-width: 152px;
    }
}
@media (max-width: 550px) {
    .fc_second_row{
        display: none !important;
    }
    .com_title{
        font-size: 18px;
        line-height: 21px;
    }
    .add_com_form{
        font-size: 12px;
        line-height: 15px;
    }
    .name{
        font-size: 14px;
        line-height: 17px;
    }
    .date{
        font-size: 8px;
        line-height: 10px;
    }
    .second_line{
        font-size: 12px;
        line-height: 15px;
    }
    .count{
        font-size: 10px;
        line-height: 13px;
    }
    .answer_but{
        font-size: 12px;
        line-height: 15px;
    }
}
@media (max-width: 570px) {
    .title_text{
        font-size: 18px;
    }
    .news{
        max-width: 440px;
        margin-right: auto;
        margin-left: auto;
    }
    .news_img{
        width: 440px;
        margin-bottom: 30px;
    }
    .news_line_cont{
        max-width: 420px;
    }
    .news_text_cont{
        max-width: 380px;
    }
    .news_date{
        max-width: 380px;
    }
    .news_text{
        font-size: 14px;
        line-height: 17px;
    }
    .n_date{
        font-size: 14px;
        line-height: 17px;
    }
    .com_count{
        font-size: 14px;
        line-height: 17px;
    }
    .news_line{
        margin-top: 30px;
    }
}
@media (max-width: 470px) {
    .second_column{
        margin-top: 0;
    }
    .news{
        max-width: 336px;
        margin-right: auto;
        margin-left: auto;
    }
    .news_img{
        width: 336px;
        margin-bottom: 30px;
    }
    .news_line_cont{
        max-width: 346px;
    }
    .news_text_cont{
        max-width: 313px;
    }
    .news_date{
        max-width: 313px;
    }
    .news_text{
        font-size: 12px;
        line-height: 15px;
    }
    .n_date{
        font-size: 12px;
        line-height: 15px;
    }
    .com_count{
        font-size: 12px;
        line-height: 15px;
    }
    .com_title{
        font-size: 14px;
        line-height: 16px;
    }
    .add_com_form{
        max-width: 140px;
        min-width: 140px;
        height: 40px;
        font-size: 12px;
        line-height: 15px;
    }
    .name{
        font-size: 12px;
        line-height: 14px
    }
    .date{
        font-size: 9px;
        line-height: 11px;
    }
    .second_line{
        font-size: 10px;
        line-height: 12px;
    }
    .count{
        font-size: 12px;
        line-height: 15px;
    }
    .answer_but{
        font-size: 12px;
        line-height: 15px;
    }
    .com_img{
        margin-top: 5px;
        width: 30px;
        height: 30px;
    }
    .com_text{
        margin-left: 7px;
    }
    .footer{
        margin-top: 0;
    }
}
@media (max-width: 450px) {
    .title_text{
        font-size: 16px;
        line-height: 25px;
    }
    .title{
        margin-bottom: 30px;
    }
}
@media (max-width: 380px) {
    .title_text{
        font-size: 14px;
    }
    .title{
        margin-top: 0px;
        margin-bottom: 30px;
    }
    .news{
        max-width: 300px;
        margin-right: auto;
        margin-left: auto;
    }
    .news_img{
        width: 300px;
        margin-bottom: 25px;
    }
    .news_line_cont{
        max-width: 310px;
    }
    .news_text_cont{
        max-width: 270px;
    }
    .news_date{
        max-width: 270px;
    }
    .news_text{
        font-size: 10px;
        line-height: 13px;
    }
    .n_date{
        font-size: 10px;
        line-height: 13px;
    }
    .com_count{
        font-size: 10px;
        line-height: 13px;
    }
}
@media (max-width: 360px) {
    .title_text{
        font-size: 12px;
        line-height: 20px;
    }
}
#gray {
    opacity: 0.8;
    padding: 15px;
    background-color: rgba(1, 1, 1, 0.75);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 100;
    overflow: auto;
}
#coment {
    z-index: 150;
    display: none;
    width: 600px;
    height: 500px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
.rev_block{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}
.title_rev{
    font-family: Raleway;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #2A324B;
    display: flex;
}
.line_title_rev{
    width: 500px;
    background: #2A324B;
    height: 0.2px;
    margin: 4px auto 15px;
}
.fields_r{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.field1{
    width: 220px;
    height: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #EF8E43;
    padding-left: 5px;
}
.f1{
    display: flex;
    flex-direction: column;

}
.text_f{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.05em;
    padding-bottom: 10px;
    color: #343D5B;
    padding-top: 15px;
    text-align: left;
}
.field2{
    width: 500px;
    height: 75px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #343D5B;
    padding-left: 5px;
}
textarea {
    width: 500px;
    height: 150px;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 16px;
    resize: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.05em;
    color: #343D5B;
}
.publish{
    width: 150px;
    height: 55px;
    border: none;
    background: #EF8E43;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    cursor: pointer;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-top: 25px;
}
.exit{
    width: 150px;
    height: 55px;
    border: 1.5px solid #343D5B;
    background: #FFFFFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #343D5B;
    margin-left: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}
@media screen and (min-width: 990px) and (max-width: 1200px) {
    .line_title_rev {
        width: 400px;
    }
    .field1{
        width: 180px;
        font-size: 14px;
    }
    .fields_r {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .text_com{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .title_rev {
        font-size: 24px;
        padding-left: 35px;
    }
    #coment {
        width: 500px;
        margin-top: 50px;
        padding-bottom: 30px;
        height: 460px;
    }
    textarea {
        width: 400px;
        height: 150px;
        font-size: 14px;
    }
    .rev_block {
        max-width: 500px;
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .publish {
        width: 125px;
        height: 40px;
        font-size: 14px;
    }
    .exit{
        width: 125px;
        height: 40px;
        font-size: 14px;
        margin-right: 30px;
    }
    .text_f {
        text-align: left;
    }
}
@media screen and (min-width: 768px) and (max-width: 989px){
    .publish {
        width: 125px;
        height: 40px;
        font-size: 14px;
    }
    .exit{
        width: 125px;
        height: 40px;
        font-size: 14px;
    }
    .title_rev {
        font-size: 26px;
    }
}
@media screen and (min-width: 600px) and (max-width: 767px){
    .field1{
        width: 180px;
        font-size: 14px;
    }
    .fields_r {
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .text_com{
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    .title_rev {
        font-size: 24px;
        padding-left: 35px;
    }
    .line_title_rev {
        width: 400px;
    }
    .rev_block {
        max-width: 500px;
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    #coment {
        width: 500px;
        margin-top: 50px;
        padding-bottom: 30px;
        height: 460px;
    }
    textarea {
        width: 400px;
        height: 150px;
        font-size: 14px;
    }
    .publish {
        width: 125px;
        height: 40px;
        font-size: 14px;
    }
    .exit{
        width: 125px;
        height: 40px;
        font-size: 14px;
        margin-right: 30px;
    }

}
@media screen and (max-width: 599px) {
    #coment{
        margin-top: 10px;
        width: 320px;

    }
    .title_rev {
        font-size: 20px;
    }
    .rev_block {
        max-width: 350px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .line_title_rev {
        width: 280px;
    }
    .fields_r {
        flex-direction: column;
    }
    textarea {
        width: 280px;
        height: 150px;
    }
    .exit {
        margin-top: -8px;
        width: 120px;
        height: 40px;
        font-size: 14px;
    }
    .publish {
        margin-top: -8px;
        width: 120px;
        height: 40px;
        font-size: 14px;
    }
    .field1{
        margin-left: -55px;
        margin-bottom: -15px;
    }
}
.answer_but{
    margin-left: 0;
}
.com_2{
    padding-left: 40px;
}
.com_3{
    padding-left: 80px;
}
.com_4{
    padding-left: 120px;
}
