*{
    margin: 0;
    padding: 0;
}
.content{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title{
    margin: 0 auto;
    flex: 1;
    text-align: center;
}
.title_text{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #2A324B;
}
.title_line{
    border: none; /* Убираем границу */
    background-color: #2A324B; /* Цвет линии */
    color: #2A324B; /* Цвет линии для IE6-7 */
    height: 1px;
    width: 210.01px;
    justify-content: center;
    margin-top: 5px;
}
.line{
    display: inline-block;
}
.first_block{
    background: #E1E5EE;
    margin-top: 84px;
}
.first_block_cont{
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 995px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 65px;
    padding-bottom: 88px;
}
.first_block_text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #343D5B;
}
.fbt1{
    margin-top: 53px;
}
.fbt2{
    margin-top: 15px;
}


.partner_line{
    width: 100%;
    border: none; /* Убираем границу */
    height: 1px;
    background-color: #B4BBCF; /* Цвет линии */
    color: #B4BBCF; /* Цвет линии для IE6-7 */
    justify-content: center;
    margin-top: 80px;
}
.second_block{
    margin-top: 100px;
}
.block {
    width: 100%;
    display: block;
    padding: 0 0px;
    margin: 0 auto;
    max-width: 996px;

}
/*.partner1{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*}*/
/*.partner2{*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*}*/
.partner_photo{
    /*flex: 1;*/
    min-width: 284px;
    max-width: 284px;
    height: 268px;
}
.partner_info{
    /*flex: 1.2;*/
    max-width: 590px;
}
.name{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #2A324B;
}
.description{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #343D5B;
    margin-top: 27px;
}
.partner_button{
    width: 285px;
    height: 62px;
    background: #F7C6A1;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    border: none;
    color: #FFFFFF;
    margin-top: 57px;
}
.partner{
    margin-top: 70px;
}
@media (max-width: 1250px) {
    .first_block{
        margin-left: 20px;
        margin-right: 20px;
    }
    .second_block{
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media (max-width: 1200px) {
    .partner{
        padding-left: 40px;
        padding-right: 40px;
    }
    .partner1 .partner_photo{
        margin-right: 30px;
    }
    .partner2 .partner_photo{
        margin-left: 30px;
    }

}
@media (max-width: 1100px) {
    .title_text{
        font-size: 25px;
        line-height: 29px;
    }
    .title_line{
        width: 164px;
    }
    .first_block_cont{
        padding-left: 40px;
        padding-right: 40px;
    }
    .fbt1{
        margin-top: 45px;
    }
}
@media (max-width: 950px) {
    .first_block_text{
        font-size: 18px;
        line-height: 22px;
    }
    .fbt1{
        margin-top: 25px;
    }
    .first_block_cont{
        padding-bottom: 68px;
    }
}
@media (max-width: 900px) {
    .title_text{
        font-size: 24px;
        line-height: 28px;
    }
    .title_line {
        width: 150px;
    }
    .name {
        font-size: 27px;
        line-height: 32px;
    }
    .description {
        font-size: 17px;
        line-height: 20px;
    }
    .partner_button{
        font-size: 17px;
        line-height: 22px;
        width: 203px;
        height: 50px;
        margin-top: 35px;
    }
    .partner_photo{
        max-width: 225px;
        min-width: 225px;
        height: 212px;
    }
}
@media (max-width: 800px) {
    .first_block_text{
        font-size: 16px;
        line-height: 20px;
    }
    .first_block_cont{
        padding-top: 45px;
        padding-bottom: 47px;
    }
    .fbt1{
        margin-top: 17px;
    }
    .fbt2{
        margin-top: 12px;
    }
    .second_block{
        margin-top: 50px;
    }

}
@media (max-width: 780px) {
    .name {
        font-size: 24px;
        line-height: 28px;
    }
    .description {
        font-size: 16px;
        line-height: 19px;
    }
    .partner_button{
        font-size: 17px;
        line-height: 22px;
    }
    .partner_photo{
        max-width: 159px;
        min-width: 159px;
        height: 150px;
    }
    .first_block{
        margin-top: 54px;
    }
}
@media (max-width: 660px) {
    .name {
        font-size: 21px;
        line-height: 25px;
    }
    .description {
        font-size: 14px;
        line-height: 16px;
    }
    .partner_button{
        font-size: 14px;
        line-height: 17px;
        width: 180px;
        height: 43px;
    }
    .partner_photo{
        max-width: 146px;
        min-width: 146px;
        height: 136px;
    }
}
@media (max-width: 600px) {
    .title_text {
        font-size: 20px;
        line-height: 23px;
    }

    .title_line {
        width: 116px;
    }
}
@media (min-width: 550px) {
    .partner1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .partner2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .partner_photo{
        flex: 1;
    }
    .partner_info{
        flex: 1.2;
    }
    .small{
        display: none !important;
    }
}
@media (max-width: 549px) {
    .first_block_text{
        font-size: 14px;
        line-height: 17px;
    }
    .first_block_cont{
        padding: 30px 22px 35px;
    }
    .big{
        display: none !important;
    }
    /*.partner_info{*/
    /*    padding: 0;*/
    /*    padding-left: 0;*/
    /*    padding-right: 0;*/
    /*}*/
    .partner1{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .partner2{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .partner_log{
        margin: 0 auto;
        flex: 1;
        text-align: center;
    }
    .partner1 .partner_photo{
        margin-right: 0;
    }
    .partner2 .partner_photo{
        margin-left: 0;
    }
    .second_block{
        margin-top: 0;
    }
    .name{
        margin-top: 25px;
    }
    .description{
        margin-top: 15px;
    }
    .partner_button{
        margin-top: 30px;
    }
    .partner {
        margin-top: 50px;
        padding: 0;
    }
    .partner_line{
        margin-top: 55px;
    }
}
@media (max-width: 440px) {
    .title_text {
        font-size: 17px;
        line-height: 20px;
    }
    .title_line {
        width: 108px;
    }
    .name {
         font-size: 16px;
         line-height: 19px;
     }
    .description {
        font-size: 13px;
        line-height: 15px;
    }
    .partner_button{
        font-size: 13px;
        line-height: 16px;
        width: 178px;
        height: 49px;
    }
    .partner_photo{
        max-width: 120px;
        min-width: 120px;
        height: 112px;
    }
}
@media (max-width: 400px) {
    .first_block_text{
        font-size: 12px;
        line-height: 15px;
    }
    .fbt2{
        margin-top: 10px;
    }
}
@media (max-width: 380px) {
    .title_text{
        font-size: 14px;
        line-height: 16px;
    }
    .title_line {
        width: 93px;
    }
    .name {
        font-size: 13px;
        line-height: 15px;
        margin-top: 13px;
    }
    .description {
        font-size: 10px;
        line-height: 12px;
        margin-top: 10px;
    }
    .partner_button{
        font-size: 10px;
        line-height: 12px;
        width: 130px;
        height: 32px;
        margin-top: 9px;
    }
    .partner_photo{
        max-width: 91px;
        min-width: 91px;
        height: 86px;
    }
    .partner {
        margin-top: 25px;
    }
    .partner_line{
        margin-top: 30px;
    }
}
.third_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 150px;
}
.cont{
    margin: 0 auto;
    flex: 1;
    text-align: center;
}
.first_rec{
    /*position: relative;*/
    width: 793px;
    height: 330px;
    background: #E1E5EE;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #2A324B;
    /*z-index: 1;*/
    border: none;
}
.second_rec{
    /*position: absolute;*/
    width: 488px;
    height: 107px;
    background: #F7C6A1;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    border: none;

    margin-top: -54px;
    margin-left: 405px;
}
@media (max-width: 1250px) {
    .third_block{
        margin-top: 100px;
        margin-bottom: 130px;
    }
    .first_rec{
        width: 695px;
        height: 289px;
        font-size: 30px;
        line-height: 35px;
    }
    .second_rec{
        width: 449px;
        height: 98px;
        font-size: 26px;
        line-height: 32px;
        margin-top: -33px;
        margin-left: 340px;
    }
}
@media (max-width: 1000px) {
    .third_block{
        margin-top: 80px;
        margin-bottom: 110px;
    }
    .first_rec{
        width: 618px;
        height: 257px;
        font-size: 28px;
        line-height: 33px;
    }
    .second_rec{
        width: 417px;
        height: 91px;
        font-size: 26px;
        line-height: 32px;
        margin-top: -65px;
        vertical-align: 10px;
        margin-left: 273px;
    }
}
@media (max-width: 800px) {
    .third_block{
        margin-top: 60px;
        margin-bottom: 90px;
    }
    .first_rec{
        width: 489px;
        height: 211px;
        font-size: 24px;
        line-height: 28px;
    }
    .second_rec{
        width: 280px;
        height: 65px;
        font-size: 19px;
        line-height: 24px;
        margin-top: -36px;
        vertical-align: 10px;
        margin-left: 275px;
    }
}
@media (max-width: 620px) {
    .third_block{
        margin-top: 50px;
        margin-bottom: 80px;
    }
    .first_rec{
        width: 279px;
        height: 136px;
        font-size: 18px;
        line-height: 20px;
    }
    .second_rec{
        width: 177px;
        height: 54px;
        font-size: 14px;
        line-height: 17px;
        margin-top: -36px;
        vertical-align: 12px;
        margin-left: 195px;
    }
}
@media (max-width: 430px) {
    .third_block{
        margin-top: 45px;
        margin-bottom: 67px;
    }
    .first_rec{
        width: 232.97px;
        height: 113.64px;
        font-size: 15px;
        line-height: 16px;
    }
    .second_rec{
        width: 153px;
        height: 54px;
        font-size: 12px;
        line-height: 15px;
        margin-top: -36px;
        vertical-align: 12px;
        margin-left: 140px;
    }
}
